

{{yaml_data}}


<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="kr"> <!--<![endif]-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{ card.card_main_title }}" />
    <meta property="og:image" content="{{ theme:templates/3/old01/image src='bg.png' }}">
    <title>{{card.card_title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"/>
    <link rel="stylesheet" href="{{ theme:css src='reset.css' }}">
    <link rel="stylesheet" href="{{ theme:css src='photoswipe.css' }}">
    <link rel="stylesheet" href="{{ theme:css/default src='default-skin.css' }}">
    <link rel="stylesheet" href="{{ theme:templates/3/old01/css src='card.css' }}">
</head>
<body>



<div class="warning_container">
    <div class="warning_box">
        <div class="top">
            <img src="{{ theme:image src='ico_warning.png' }}" alt="">
        </div>
        <div class="btm">
            <p>Warning!</p>
            <span>기간이 만료된 초대장 입니다.</span>
            <div>
                <a href="http://aileenstory.com/">에일린스토리로 이동</a>
            </div>
        </div>
    </div>
</div>

<div id="app">
    <input type="hidden" id="datepicker" value="{{card.date.datepicker}}">
    <input type="hidden" id="hour" value="{{card.date.hour}}">
    <input type="hidden" id="minute" value="{{card.date.minute}}">
    <input type="hidden" id="apm" value="{{card.date.apm}}">
    <input type="hidden" id="map_type" value="{{card.location.map_type}}">
    <input type="hidden" id="lat" value="{{card.location.lat}}">
    <input type="hidden" id="lng" value="{{card.location.lng}}">
    <input type="hidden" id="road" value="{{card.location.road}}">
    <input type="hidden" id="lot_detail" value="{{card.location.lot_detail}}">
    <input type="hidden" id="address_tel" value="{{card.location.address_tel}}">
    <input type="hidden" id="location_toggle" value="{{card.location.toggle}}">
    <input type="hidden" id="basic_toggle" value="{{card.basic.toggle}}">
    <input type="hidden" id="video_check" value="{{card.video.video_check}}">
    <input type="hidden" id="navi_option" value="{{card.option.navi}}">
    <input type="hidden" id="thank_option" value="{{card.option.thank}}">
    <input type="hidden" id="orderNo" name="orderNo" value="{{orderNo}}">



    <div class="bg_box" id="bg_box">
        <img src="{{ theme:templates/3/old01/image src='bg_pattern.jpg' }}"  alt="">
    </div>

    <div class="cover" id="cover">
        
        <div class="img_box">
            <img src="{{ theme:templates/3/old01/image src='mark.png' }}"  alt="">
        </div>

        <div class="title_box">
            <img src="{{ theme:templates/3/old01/image src='main_tit.png' }}"  alt="">
        </div>

        <div class="text_box">
            <div class="cover_location_box">
                <div class="day"></div>
                <div class="building"></div>
            </div>
        </div>
        <div class="bar">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
            <span class="line4"></span>
            <span class="line5"></span>
            <span class="line6"></span>
            <span class="line7"></span>
            <span class="line8"></span>
            <span class="line9"></span>
            <span class="line10"></span>
        </div>
    </div>

    <div class="invitation" id="invitation">
        <div class="title_box">
            <img src="{{ theme:templates/3/old01/image src='tit01.png'}}" class="title" alt="">
        </div>
        <div class="invitation_txt_box">
            <p>{{card.invitation_data}}</p>
        </div>
    </div>


    <div class="location" id="location">
        <div class="title_box">
            <img src="{{ theme:templates/3/old01/image src='tit02.png'}}" class="title" alt="">
        </div>
        <div class="location_box">

            <div class="map_container">
                <!--                <input type="hidden" class="field" id="lat" value="37.5635793508101"/>-->
                <!--                <input type="hidden" class="field" id="lng" value="126.975389363157"/>-->
                <!--                <input type="hidden" id="road" value="서울 중구 서소문로 지하 127"/>-->
                <div class="daum_map map_box" id="daum_map_box">

                </div>
                <div class="naver_map map_box" id="naver_map">

                </div>
            </div>
            <div class="location_text_box">
                <div class="location_icon_box">
                    <div class="icon_tmap nav_icon icon ">
                        <a href="#" class="tmap_btn" >
                            <img src="{{ theme:templates/3/old01/image src='navi_tmap.png' }}" alt="티맵 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_kakao nav_icon icon">
                        <a href="#" onclick="navi();">
                            <img src="{{ theme:templates/3/old01/image src='navi_kakao.png' }}" alt="카카오 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_call icon">
                        <a href="tel:{{card.location.address_tel}}">
                            <img src="{{ theme:templates/3/old01/image src='navi_call.png' }}" alt="전화" class="title_img">
                        </a>
                    </div>
                </div>
                <div class="wrap_address">
                    <div class="address_detail">
                        <p>{{card.location.lot_detail}}</p>
                    </div>
                    <div class="address_main">
                        <p>{{card.location.road}}</p>
                    </div>
                    <div class="address_tell">
                        <p>{{card.location.address_tel}}</p>
                    </div>
                </div>
                <div class="line_box">
                    <img src="{{ theme:templates/3/old01/image src='line.png'}}" class="line" alt="">
                </div>
                <div class="textarea_box">
                    <p>{{card.location.traffic_sub_data}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="footer" id="footer">
        <div class="sns_box">
            <div class="img_box">
                <img src="{{ theme:templates/3/old01/image src='share.png'}}" alt="">
            </div>
            <div class="icon_box">
                <a onclick="sendLink(); return false;" class="sns_btn sns_kakao" href="#">
                    <img src="{{ theme:templates/3/old01/image src='share_kakao.png'}}" alt="">
                </a>
<!--                <a href="#" class="sns_btn sns_mail">-->
<!--                    <img src="{{ theme:templates/3/old01/image src='share_sms.png'}}" alt="">-->
<!--                </a>-->
            </div>
        </div>
        <div class="footer_img">
            <img src="{{ theme:templates/3/old01/image src='footer_aileenstory.png'}}" alt="">
        </div>
    </div>
</div>


<script>

    // 연락쳐 및 sns 공유 관련 코드

    const UserAgent = navigator.platform; //하드웨어 플랫폼


</script>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
    const cover_img = document.querySelector('.cover_img');
    Kakao.init('6af4eefd4ff7d5ac127577be46fd175e');
    const title_txt = `{{ card.card_main_title}}`;
    let description = `{{ card:invitation_data }}`
    description = description.replace(/\n/g, " ");//행바꿈제거

    function sendLink() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: title_txt,
                description: description,
                imageUrl: '{{ theme:templates/3/old01/image src=\'bg.png\' }}?'+Math.floor(new Date().getTime() / 1000),
                imageWidth:480,
                imageHeight:760,
                link: {
                    mobileWebUrl: 'https://app.aileenstory.com/{{card.card_title}}',
                    webUrl: 'https://app.aileenstory.com/{{card.card_title}}'
                }
            },
            buttons: [
                {
                    title: '모바일청첩장 바로가기',
                    link: {
                        mobileWebUrl: 'https://app.aileenstory.com/{{card.card_title}}',
                    },
                },
            ]

        });
    }

</script>



<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{{ theme:js src='photoswipe.min.js' }}"></script>
<script src="{{ theme:js src='photoswipe-ui-default.min.js' }}"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js" defer></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2172bd470d6c993b82afa45abacebd35&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pfrjrsbxuz&callback=initMap"></script>
<script src="{{ theme:js src='Pagination.js' }}"></script>
<script src="{{ theme:templates/3/old01/js src='card.js' }}"></script>

</body>
</html>



{{/yaml_data}}
