{{yaml_data}}


<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="kr"> <!--<![endif]-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{ card.card_main_title }}" />
    <meta property="og:image" content="{{ card.main_img.main_url }}">
    <title>{{card.card_title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"/>
    <link rel="stylesheet" href="{{ theme:css src='reset.css' }}">
    <link rel="stylesheet" href="{{ theme:css src='photoswipe.css' }}">
    <link rel="stylesheet" href="{{ theme:css/default src='default-skin.css' }}">
    <link rel="stylesheet" href="{{ theme:templates/2/baby03/css src='card.css' }}">
</head>
<body>



<div class="warning_container">
    <div class="warning_box">
        <div class="top">
            <img src="{{ theme:image src='ico_warning.png' }}" alt="">
        </div>
        <div class="btm">
            <p>Warning!</p>
            <span>기간이 만료된 초대장 입니다.</span>
            <div>
                <a href="http://aileenstory.com/">에일린스토리로 이동</a>
            </div>
        </div>
    </div>
</div>

<div id="app">
    <input type="hidden" id="datepicker" value="{{card.date.datepicker}}">
    <input type="hidden" id="hour" value="{{card.date.hour}}">
    <input type="hidden" id="minute" value="{{card.date.minute}}">
    <input type="hidden" id="apm" value="{{card.date.apm}}">
    <input type="hidden" id="map_type" value="{{card.location.map_type}}">
    <input type="hidden" id="lat" value="{{card.location.lat}}">
    <input type="hidden" id="lng" value="{{card.location.lng}}">
    <input type="hidden" id="road" value="{{card.location.road}}">
    <input type="hidden" id="lot_detail" value="{{card.location.lot_detail}}">
    <input type="hidden" id="address_tel" value="{{card.location.address_tel}}">
    <input type="hidden" id="location_toggle" value="{{card.location.toggle}}">
    <input type="hidden" id="basic_toggle" value="{{card.basic.toggle}}">
    <input type="hidden" id="video_check" value="{{card.video.video_check}}">
    <input type="hidden" id="navi_option" value="{{card.option.navi}}">
    <input type="hidden" id="thank_option" value="{{card.option.thank}}">
    <input type="hidden" id="sms_mail" value="{{card.basic.mom_phone}}">





    <div class="cover" id="cover">
        <img src="{{ theme:templates/2/baby03/image src='main_bg.png' }}" class="cover_back_img" alt="">
<!--        <div class="title_box">-->
<!--            <span>{{card.card_main_title}}</span>-->
<!--        </div>-->
        <div class="img_box">
            <img src="{{ card.main_img.main_url }}" class="cover_img" alt="" style="left:{{card.main_img.left}}%; top:{{card.main_img.top}}%; transform:{{card.main_img.transform}}">
        </div>
        <div class="text_box">
            <div class="cover_location_box">
                <div class="day"></div>
                <div class="building"></div>
            </div>
        </div>
    </div>

    <div class="invitation" id="invitation">
<!--        <div class="bg_box">-->
<!--            <img src="{{ theme:templates/2/baby03/image src='bg_pattern.png'}}" class="" alt="">-->
<!--        </div>-->
        <div class="title_box">
            <img src="{{ theme:templates/2/baby03/image src='tit01.png'}}" class="title" alt="">
        </div>
        <div class="invitation_txt_box">
            <p>{{card.invitation_data}}</p>
        </div>
        <div class="line_box">
            <img src="{{ theme:templates/2/baby03/image src='line.png'}}" class="line" alt="">
        </div>
        <div class="hosting_tell_btn_box">
            <button class="btn_box groom_btn">
                <img src="{{ theme:templates/2/baby03/image src='pop_dad_off.png'}}" class="icon" alt="">
                <span>아빠에게 연락하기</span>
            </button>
            <button class="btn_box bride_btn">
                <img src="{{ theme:templates/2/baby03/image src='pop_mom_off.png'}}" class="icon" alt="">
                <span>엄마에게 연락하기</span>
            </button>
        </div>
        <div class="hosting_modal">
            <div class="modal_content">
                <header>
                    <div class="icon_box">
                        <div class="groom">
                            <img src="{{ theme:templates/2/baby03/image src='pop_dad_on.png'}}" class="icon" alt="">
                            <span>아빠에게 연락하기</span>
                        </div>
                        <div class="bride">
                            <img src="{{ theme:templates/2/baby03/image src='pop_mom_on.png'}}" class="icon" alt="">
                            <span>엄마에게 연락하기</span>
                        </div>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="list_box">
                    <div class="groom">
                        <ul>
                            <li>
                                <div class="name">아빠</div>
                                <div class="icon_box tel">
                                    <a href="tel:{{card.basic.dad_phone}}">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/2/baby03/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#" class="groom_sms">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/2/baby03/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="bride">
                        <ul>
                            <li>
                                <div class="name">엄마</div>
                                <div class="icon_box tel">
                                    <a href="tel:{{card.basic.mom_phone}}">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/2/baby03/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#" class="priest_sms">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/2/baby03/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery" id="gallery">
        <div class="title_box">
            <img src="{{ theme:templates/2/baby03/image src='tit02.png'}}" class="title" alt="">
        </div>
        <div class="gallery_content">

            <div class="my-gallery">
                <div class="images_box">
                    {{ foreach:card.photo }}
                    <figure>
                        <a href="{{value}}" itemprop="contentUrl">
                            <img src="{{value}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    {{ /foreach:card.photo }}
                </div>
            </div>


            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe.
                     It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides.
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            <button class="pswp__button pswp__button--share" title="Share"></button>

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="video" id="video">
        <div class="title_box">
            <img src="{{ theme:templates/2/baby03/image src='tit03.png'}}" class="title" alt="">
        </div>
        <div class="video_content">
            <div class="video_box">
                <div class="player_box">
                    {{ if card.video.video_src!='' }}

                    <iframe src="{{card.video.video_src}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen >
                    </iframe>
                    {{ endif }}

                </div>
                <div class="video_link">
                    <a href="{{card.video.video_src}}" target="_blank">영상보러 가기 <i class="fas fa-caret-right"></i></a>
                </div>
                <a href="{{card.video.video_src}}" target="_blank" class="video_link_box"></a>
            </div>
        </div>
    </div>

    <div class="location" id="location">
        <div class="title_box">
            <img src="{{ theme:templates/2/baby03/image src='tit04.png'}}" class="title" alt="">
        </div>
        <div class="location_box">

            <div class="map_container">
                <!--                <input type="hidden" class="field" id="lat" value="37.5635793508101"/>-->
                <!--                <input type="hidden" class="field" id="lng" value="126.975389363157"/>-->
                <!--                <input type="hidden" id="road" value="서울 중구 서소문로 지하 127"/>-->
                <div class="daum_map map_box" id="daum_map_box">

                </div>
                <div class="naver_map map_box" id="naver_map">

                </div>
            </div>
            <div class="location_text_box">
                <div class="location_icon_box">
                    <div class="icon_tmap nav_icon icon ">
                        <a href="#" class="tmap_btn" >
                            <img src="{{ theme:templates/2/baby03/image src='navi_tmap.png' }}" alt="티맵 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_kakao nav_icon icon">
                        <a href="#">
                            <img src="{{ theme:templates/2/baby03/image src='navi_kakao.png' }}" alt="카카오 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_call icon">
                        <a href="tel:{{card.location.address_tel}}">
                            <img src="{{ theme:templates/2/baby03/image src='navi_call.png' }}" alt="전화" class="title_img">
                        </a>
                    </div>
                </div>
                <div class="wrap_address">
                    <div class="address_detail">
                        <p>{{card.location.lot_detail}}</p>
                    </div>
                    <div class="address_main">
                        <p>{{card.location.road}}</p>
                    </div>
                    <div class="address_tell">
                        <p>{{card.location.address_tel}}</p>
                    </div>
                </div>
                <div class="line_box">
                    <img src="{{ theme:templates/2/baby03/image src='line.png'}}" class="line" alt="">
                </div>
                <div class="textarea_box">
                    <p>{{card.location.traffic_sub_data}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat" id="chat">
        <div class="title_box">
            <img src="{{ theme:templates/2/baby03/image src='tit05.png'}}" class="title" alt="">
        </div>
        <div class="chat_modal_open_btn">
            <button>
                <span>메세지 등록</span>
            </button>
        </div>

        <div class="chat_item_box">
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="chat_modal chat_create_modal">
            <div class="modal_content">
                <header>
                    <div class="title_box">
                        <p>성함, 비밀번호를 입력후 메세지를 남겨주세요</p>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="content">
                    <form method="post" name="chat_data" id="chat_data" onsubmit="return false;">
                        <input type="hidden" id="chat_time" value="" name="card[content][time]">
                        <input type="hidden" value="chat" name="type" id="type">
                        <input type="hidden" id="orderGoodsNo" name="orderGoodsNo" value="{{orderGoodsNo}}">
                        <input type="hidden" id="orderNo" name="orderNo" value="{{orderNo}}">
                        <input type="hidden" id="userNo" name="userNo" value="{{userNo}}">
                        <input type="hidden" id="card_title" name="card[card_title]" value="{{card.card_title}}">
                        <div class="name_pass_box">
                            <input type="text" placeholder="성함" id="chat_form_name" name="card[content][name]">
                            <input type="password" placeholder="비밀번호" id="chat_form_password" autocomplete="new-password" name="card[content][password]">
                        </div>
                        <div class="text_box">
                            <input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_form_text" name="card[content][comment]">
                        </div>
                        <div class="btn_box">
                            <button class="chat_form_save" type="button" onclick="goData()">
                                <span>메세지 등록</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="chat_modal chat_modify_modal">
            <div class="modal_content">
                <header>
                    <div class="title_box">
                        <p>성함, 비밀번호를 입력후 메세지를 남겨주세요</p>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="content">

                    <div class="name_pass_box">
                        <input type="text" placeholder="성함" id="chat_modifiy_name" >
                        <input type="password" placeholder="비밀번호" id="chat_modifiy_password" autocomplete="new-password">
                    </div>
                    <input type="hidden" id="modifiy_chat_num" >
                    <div class="text_box">
                        <input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_modifiy_text">
                    </div>
                    <div class="btn_box">
                        <button class="chat_modify_btn" id="chat_modify_btn" type="button">
                            <span>메세지 수정</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="chat_modal chat_delete_modal">
            <div class="modal_content">
                <header>
                    <div class="title_box">
                        <p>비밀번호를 입력해주세요.</p>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="content">

                    <div class="text_box">
                        <input type="password" id="delete_chat_password" placeholder="비밀번호" >
                    </div>
                    <input type="hidden" id="delete_chat_num" >

                    <div class="btn_box">
                        <button id="chat_delete_btn" type="button">
                            <span>삭제하기</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer" id="footer">
        <div class="sns_box">
            <div class="img_box">
                <img src="{{ theme:templates/2/baby03/image src='share.png'}}" alt="">
            </div>
            <div class="icon_box">
                <a onclick="sendLink(); return false;" class="sns_btn sns_kakao" href="#">
                    <img src="{{ theme:templates/2/baby03/image src='share_kakao.png'}}" alt="">
                </a>
                <a href="#" class="sns_btn sns_mail">
                    <img src="{{ theme:templates/2/baby03/image src='share_sms.png'}}" alt="">
                </a>
            </div>
        </div>
        <div class="footer_img">
            <img src="{{ theme:templates/2/baby03/image src='footer_aileenstory.png'}}" alt="">
        </div>
    </div>
</div>


<script>

    // 연락쳐 및 sns 공유 관련 코드

    const UserAgent = navigator.platform; //하드웨어 플랫폼

    const groomSms = document.querySelector('.groom_sms');


    const priestSms = document.querySelector('.priest_sms');

    const sms_mailValue = document.querySelector('#sms_mail').value;
    const sns_mail = document.querySelector('.sns_mail');



    if (UserAgent.match(/i(Phone|Pod)/i) != null) {
        groomSms.setAttribute('href', 'sms:{{card.basic.dad_phone}}&boby=');


        priestSms.setAttribute('href', 'sms:{{card.basic.mom_phone}}&boby=');


        sns_mail.setAttribute('href', `sms:${sms_mailValue}&boby=`);
    } else {
        groomSms.setAttribute('href', 'sms:{{card.basic.dad_phone}}?boby=');


        priestSms.setAttribute('href', 'sms:{{card.basic.mom_phone}}?boby=');


        sns_mail.setAttribute('href', `sms:${sms_mailValue}?boby=`);
    }

</script>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
    const cover_img = document.querySelector('.cover_img');
    Kakao.init('6af4eefd4ff7d5ac127577be46fd175e');
    const title_txt = `{{ card.card_main_title}}`;
    let description = `{{ card:invitation_data }}`
    description = description.replace(/\n/g, " ");//행바꿈제거

    function sendLink() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: title_txt,
                description: description,
                imageUrl: '{{ card.main_img:main_url }}?'+Math.floor(new Date().getTime() / 1000),
                imageWidth:cover_img.naturalWidth,
                imageHeight:cover_img.naturalHeight,
                link: {
                    mobileWebUrl: 'https://app.aileenstory.com/{{card.card_title}}',
                    webUrl: 'https://app.aileenstory.com/{{card.card_title}}'
                }
            },
            buttons: [
                {
                    title: '모바일청첩장 바로가기',
                    link: {
                        mobileWebUrl: 'https://app.aileenstory.com/{{card.card_title}}',
                    },
                },
            ]

        });
    }

</script>



<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{{ theme:js src='photoswipe.min.js' }}"></script>
<script src="{{ theme:js src='photoswipe-ui-default.min.js' }}"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js" defer></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2172bd470d6c993b82afa45abacebd35&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pfrjrsbxuz&callback=initMap"></script>
<script src="{{ theme:js src='Pagination.js' }}"></script>
<script src="{{ theme:templates/2/baby03/js src='card.js' }}"></script>

</body>
</html>



{{/yaml_data}}
