<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="kr"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Another awesome Statamic site">
  <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
  <!-- 부가적인 테마 -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="{{ theme:css src='reset' }}">
  <link rel="stylesheet" href="{{ theme:templates/baby/simple/css src='card.css' }}">
  <script src="https://kit.fontawesome.com/338434a17f.js"></script>
  <!-- <link rel="stylesheet" href="{{ theme:css }}"> -->
</head>

<body class="section-{{ segment_1 or "home" }}">

<!-- {{ partial:nav }} -->


<article class="crad_theme_container">
	<section class="cover" id="cover">
		<div class="gb_img_box">
			<img src="{{ theme:templates/baby/simple/image src='bg.png' }}" alt="커버 백그라운드 이미지" class="cover_bg">
		</div>
		<div class="cover_content_box">
			<h1 class="title">하유의 첫생일</h1>
			<div class="cover_img_box">
				<img src="{{ theme:templates/baby/simple/image src='main.jpg' }}" alt="커버 이미지" class="cover_img">
			</div>
			<div class="cover_date_box">
				<span class="cover_date">2019년 8월 10일 일요일 오휴 5시 00분</span>
				<span class="cover_address">이움 파티하우스 그리너스홀</span>
			</div>
		</div>
	</section>

	<section class="invitation" id="invitation">
		<img src="{{ theme:templates/baby/simple/image src='tit01.png' }}" alt="invitation_title" class="title_img">
		<div class="invitation_txt_box">
			<p>저희 가족읜 큰 행복인 하유가 벌써
        첫번째 생일을 맞이 하였습니다.

        그동안 많은 사랑과 간심에 보답하는 마음으로
        정성껏 준비한 하유 돌잔치에
        시간을 내어 함께해주시면 감사하겠습니다.</p>
		</div>
		<div class="invitation_name_box clearfix">
			<p class="name1">아빠<span>유성훈</span></p>
			<span class="icon">&</span>
			<p class="name2">엄마<span>한유진</span></p>
		</div>
	</section>

	<section class="hosting_tell" id="hosting_tell">
		<div class="content_box">
			<div class="name_box">
				<span>DAD</span>
				<p>아빠에게 연락하기</p>
			</div>
			<div class="tell_box">
				<span class="icon tell">
					<a href="tell:010-0000-0000">
						<img src="{{ theme:templates/baby/simple/image src='img01.png' }}" alt="tell_icon" class="tell">
					</a>
				</span>
				<span class="icon mail">
					<a href="milto:010-0000-0000">
						<img src="{{ theme:templates/baby/simple/image src='img02.png' }}" alt="tell_icon" class="mail">
					</a>
				</span>
			</div>
		</div>
		<div class="bar"></div>
		<div class="content_box">
			<div class="name_box">
				<span>MOM</span>
				<p>엄마에게 연락하기</p>
			</div>
			<div class="tell_box">
				<span class="icon tell">
					<a href="tell:010-0000-0000">
						<img src="{{ theme:templates/baby/simple/image src='img03.png' }}" alt="tell_icon" class="tell">
					</a>
				</span>
				<span class="icon mail">
					<a href="milto:010-0000-0000">
						<img src="{{ theme:templates/baby/simple/image src='img04.png' }}" alt="tell_icon" class="mail">
					</a>
				</span>
			</div>
		</div>
	</section>

	<section class="gallery" id="gallery">
		<img src="{{ theme:templates/baby/simple/image src='tit02.png' }}" alt="invitation_title" class="title_img">
		<div class="gallery_content">
			
			<!-- Add Arrows -->
	    <div class="gallery_slider_left slider_btn"><i class="fas fa-angle-left fa-2x"></i></div>
	    <div class="gallery_slider_right slider_btn"><i class="fas fa-angle-right fa-2x"></i></div>
	    <!-- Swiper -->
		  <div class="swiper-container gallery-top">
		    <div class="swiper-wrapper">
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='sub1.jpg' }}" alt="" class="gallery_main_img"></div>
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='sub2.jpg' }}" alt="" class="gallery_main_img"></div>
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='gellery_img1.jpg' }}" alt="" class="gallery_main_img"></div>
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='gellery_img4.jpg' }}" alt="" class="gallery_main_img"></div>
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='main.jpg' }}" alt="" class="gallery_main_img"></div>
		    	<div class="swiper-slide"><img src="{{ theme:templates/baby/simple/image src='main2.jpg' }}" alt="" class="gallery_main_img"></div>
		    </div>
		    
		  </div>
		  <div class="swiper-container gallery-thumbs">
		    <div class="swiper-wrapper">
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='sub1.jpg' }} )"></div>
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='sub2.jpg' }} )"></div>
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='gellery_img1.jpg' }} )"></div>
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='gellery_img4.jpg' }} )"></div>
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='main.jpg' }} )"></div>
		      <div class="swiper-slide" style="background-image:url( {{ theme:templates/baby/simple/image src='main2.jpg' }} )"></div>
		    </div>
		  </div>
		</div>
	</section>

	<section class="location" id="location">
		<img src="{{ theme:templates/baby/simple/image src='tit03.png' }}" alt="location_title" class="title_img">
		<div class="map_container">
			<input type="hidden" class="field" id="lat" value="37.566456" />
			<input type="hidden" class="field" id="lng" value="126.977672" />
			<input type="hidden" id="road" value="" />
			<div class="daum_map map_box" id="daum_map_box">
				
			</div>
			<div class="google_map map_box" id="google_map_box">
				
			</div>
		</div>
		<div class="location_text_box">
			<div class="location_icon_box clearfix">
				<div class="icon_naver icon">
					<a href="#">
						<img src="{{ theme:templates/baby/simple/image src='img05.png' }}" alt="네이버 지도" class="title_img">
						<span>길찾기</span>
					</a>
				</div>
				<div class="icon_google icon">
					<a href="#">
						<img src="{{ theme:templates/baby/simple/image src='img06.png' }}" alt="구글 지도" class="title_img">
						<span>구글맵</span>
					</a>
				</div>
				<div class="icon_tel icon">
					<a href="#">
						<img src="{{ theme:templates/baby/simple/image src='img07.png' }}" alt="전화" class="title_img">
						<span>전화하기</span>
					</a>
				</div>
			</div>
			<div class="road_box">이움 파티하우스 그리너리 홀</div>
			<div class="road_detail_box">가산디지털1로 171 SKV1 18층 이움 파티하우스</div>
			<div class="road_bus road_option clearfix">
				<div><span>버</span> <span>스</span></div>
				<p>전용버스로 가산역 앞에서 10분 간격으로 왕복</p>
			</div>

			<div class="road_subway road_option clearfix">
				<div><span>지</span> <span>하</span> <span>철</span></div>
				<p>1호선 가산디지털 단지역 7번 출구 10분 도보</p>
			</div>

			<div class="road_parking road_option clearfix">
				<div><span>주</span> <span>차</span><span>안</span><span>내</span></div>
				<p>전용 주차장이 있으나 혼잡할 것으로 예상되어 옆 케이씨넷 주차장 이용가능 </p>
			</div>
		</div>
	</section>

	<section class="first_birthday">
		<img src="{{ theme:templates/baby/simple/image src='img08.png' }}" alt="first_birthday" class="title_img">
	</section>

	<section class="chat" id="chat">
		<img src="{{ theme:templates/baby/simple/image src='tit04.png' }}" alt="chat_title" class="title_img">
		<div class="chat_content">
			<div class="chat_form_box">
				<input type="text" placeholder="성함" id="chat_form_name">
				<input type="password" placeholder="비밀번호" id="chat_form_password" autocomplete="new-password">
				<input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_form_text">
				<button class="chat_form_save">메세지 등록</button>
			</div>
			<div class="chat_item_box">
				<table id="example" class="display" style="width:100%">
				  <thead>
				      <tr>
			          <th>Name</th>
				      </tr>
				  </thead>
				  <tbody>
			      <tr>
			          <td>
			          	<div class="chat_item">
										<p class="text">하유 첫번째 생일 너무너무 축하해1</p>
										<span class="name">윤성희</span>
										<span class="date">2019-06-28</span>
									</div>
								</td> 
			      </tr>
			      <tr>
			          <td>
			          	<div class="chat_item">
										<p class="text">하유 첫번째 생일 너무너무 축하해2</p>
										<span class="name">윤성희</span>
										<span class="date">2019-06-28</span>
									</div>
								</td> 
			      </tr>
			      <tr>
			          <td>
			          	<div class="chat_item">
										<p class="text">하유 첫번째 생일 너무너무 축하해3</p>
										<span class="name">윤성희</span>
										<span class="date">2019-06-28</span>
									</div>
								</td> 
			      </tr>
			      <tr>
			          <td>
			          	<div class="chat_item">
										<p class="text">하유 첫번째 생일 너무너무 축하해4</p>
										<span class="name">윤성희</span>
										<span class="date">2019-06-28</span>
									</div>
								</td> 
			      </tr>

				  </tbody>
				    
				</table>
			</div>
		</div>
	</section>

	<section class="footer" id="footer">
		<div class="sns_box">
			<img src="{{ theme:templates/baby/simple/image src='tit05.png' }}" alt="" class="tit05">
			<div class="sns_btn sns_kakao">
				<img src="{{ theme:templates/baby/simple/image src='img09.png' }}" alt="" class="">
				<span>카카오톡 공유</span>
			</div>
			<div class="sns_btn sns_mail">
				<img src="{{ theme:templates/baby/simple/image src='img10.png' }}" alt="" class="">
				<span>문자 보내기</span>
			</div>
		</div>
		<div class="footer_text_box">
			<p>행복한 자리에 소중한 분들을 초대합니다.</p>
			<span>studioium.com</span>
		</div>
	</section>



</article>





<!-- <footer class="page">
    <p class="copyright">&copy; {{ now format="Y" }} {{ author_name }}</p>
    <p class="tribute">Built with Statamic</p>
</footer> -->



 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script src="{{ theme:js src='Pagination.js' }}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d405ceb801a8fc0a2388cf9c1cac17b2&libraries=services,clusterer,drawing"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZR4fpgPdX7kuKhE5sFCfOvxerZemdtMI&libraries=places&callback=initMap" async defer></script>
<script src="{{ theme:js src='card.js' }}"></script>
<script src="{{ theme:js }}"></script>




</body>
</html>