
<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="kr"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <title>존재하지 않는 페이지</title>
  <link rel="stylesheet" href="{{ theme:css src='reset' }}">
  <style>
  	.warning_container{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: flex; align-items: center; justify-content: center;}
	.warning_container .warning_box{width: 100%; max-width: 600px; padding: 10px; box-sizing: border-box; }
	.warning_container .warning_box .top{background:#f25659; border-radius: 10px 10px 0 0; padding: 20px 0; box-sizing: border-box; text-align: center;}
	.warning_container .warning_box .btm{background: #FFF; border-radius: 0 0 10px 10px; padding: 20px 0; box-sizing: border-box; text-align: center;}
	.warning_container .warning_box .btm p{color: #3c455f; font-size: 30px; margin-bottom: 10px;}
	.warning_container .warning_box .btm span{color: #3c455f; font-size: 18px; font-weight: bold;}
	.warning_container .warning_box .btm > div{margin-top: 10px;}
	.warning_container .warning_box .btm > div a{display:inline-block; padding: 5px 10px; border-radius: 15px; background:#f25659; color:#FFF;}
  </style>
</head>

<body class="section-{{ segment_1 or "home" }}">


<div class="warning_container">
	<div class="warning_box">
		<div class="top">
			<img src="{{ theme:image src='ico_warning.png' }}" alt="">
		</div>
		<div class="btm">
			<p>Warning!</p>
			<span>존재하지 않는 페이지입니다.</span>
			<div>
				<a href="http://www.aileenstory.com/">에일린스토리로 이동</a>
			</div>
		</div>
	</div>
</div>

</body>
</html>
