@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body{
    background-color: #000;
}

#app{
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

#cover{
    position: relative;
}

#cover .cover_back_img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 500;
}

#cover .img_box {
    position: absolute;
    width: 93.7%;
    left: 3.4%;
    top: 18%;
}
#cover .img_box:before{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 103%;
}

#cover .img_box .cover_img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#cover .text_box{
    position: absolute;
    z-index: 600;
    top: 78%;
    font-family: 'Nanum Myeongjo', serif;
    padding: 0 1.5rem;
    box-sizing: border-box;
    color: #494949;
}

#cover .cover_name_box{
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

#cover .cover_location_box{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
}

.title_box .title{
    display: block;
    width: 100%;
    height: auto;
}

.line_box .line{
    display: block;
    width: 100%;
    height: auto;
}

#invitation{
    width: 100%;
    padding-bottom: 2rem;
    background-color: #fff;
}

#invitation .invitation_txt_box{
    padding: 2rem 0;
    box-sizing: border-box;

}

#invitation .invitation_txt_box p{
    text-align: center;
    white-space: pre-line;
    line-height: 2;
    color: #494949;
    font-weight: 300;
}

#invitation .hosting_tell_btn_box{
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#invitation .hosting_tell_btn_box .btn_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#invitation .hosting_tell_btn_box .btn_box span{
    display: block;
    margin-top:0.5rem;
    color: #494949;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}

#invitation .hosting_modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 480px;
    z-index: 1000;
    padding: 0 1rem;
    box-sizing: border-box;
    display: none;
}

#invitation .hosting_modal .modal_content{
    border:1px solid #bebebe;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fff;
}

#invitation .hosting_modal .modal_content header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#invitation .hosting_modal .modal_content header .icon_box > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#invitation .hosting_modal .modal_content header .icon_box span{
    display: block;
    margin-top: 0.5rem;
    color: #494949;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}

#invitation .hosting_modal .modal_content header .close_btn{
    width: 30px;
    height: 30px;
    position: relative;
}

#invitation .hosting_modal .modal_content header .close_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
}

#invitation .hosting_modal .modal_content header .close_btn span.line1{
    transform: translate(-50%, -50%) rotate(45deg);
}

#invitation .hosting_modal .modal_content header .close_btn span.line2{
    transform: translate(-50%, -50%) rotate(-45deg);
}

#invitation .hosting_modal .modal_content .list_box{
    margin-top: 1rem;
}

#invitation .hosting_modal .modal_content .list_box ul li{
    border:1px solid #e1e1e1;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#invitation .hosting_modal .modal_content .list_box ul li + li{
    margin-top: 1rem;
}

#invitation .hosting_modal .modal_content .list_box ul li .name{
    border-right: 1px solid #e1e1e1;
    padding-right: 2rem;
    margin-right: 2rem;
    width: 17%;
}

#invitation .hosting_modal .modal_content .list_box ul li .icon_box{
    margin-right: 2rem;
}

#invitation .hosting_modal .modal_content .list_box ul li .icon_box a{
    display: flex;
    align-items: center;
}

#invitation .hosting_modal .modal_content .list_box ul li .icon_box a .txt{
    margin-right: 0.5rem;
}


@media screen and (max-width: 480px) {
    #invitation .hosting_modal .modal_content .list_box ul li{
        font-size: 0.9rem;
    }
    #invitation .hosting_modal .modal_content .list_box ul li .name{
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        width: 23%;
    }

    #invitation .hosting_modal .modal_content .list_box ul li .icon_box{
        margin-right: 0.5rem;
    }
}



#gallery{
    background-color: #fff;
}

#gallery .my-gallery{
    padding: 2rem 1rem;
    box-sizing: border-box;
}

#gallery .my-gallery .images_box{
    display: flex;
    flex-wrap: wrap;
}

#gallery .my-gallery .images_box figure{
    width: 33.33%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#gallery .my-gallery .images_box figure img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video{
    background-color: #fff;
}

#video .video_content{
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

#video .video_content .video_box{
    border-radius: 10px;
    overflow: hidden;
}

#video .video_content .player_box{
    position: relative;
    padding-bottom: 56.25%;
}

#video .video_content .player_box iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#video .video_content .video_link{
    padding: 0.5rem 1rem;
    text-align: right;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 0.8rem;
}


#location{
    background-color: #fff;
}

#location .location_box{
    padding: 2rem 1rem;
    box-sizing: border-box;
}


#location .map_container {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#location .map_container:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

#location .map_box {
    width: 100%;
    height: 100%;
    position: absolute !important;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

#location .map_box.daum_map{
    /*display: none;*/
}

#location .map_box.naver_map{
    display: none;
}



#location .location_text_box {
    padding-top: 20px;
    position: relative;
}

#location .location_icon_box {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

#location .location_icon_box .icon {

}

#location .location_icon_box .icon.icon_tmap {
    margin-right: 1rem;
}

#location .location_icon_box .icon.icon_kakao {

}

#location .location_icon_box .icon.icon_call {
    margin-left: auto;
}

#location .wrap_address{
    padding: 1rem;
    box-sizing: border-box;
}

#location .wrap_address > div{
    line-height: 1.5;
}

#location .wrap_address .address_detail{
    font-weight: bold;
}

#location .wrap_address .address_main,
#location .wrap_address .address_tell{
    color: #7c7c7c;
}

#location .textarea_box{
    padding:1rem;
    box-sizing:border-box;
    color: #7c7c7c;
}

#chat{
    background-color: #fff;
}

#chat .chat_modal_open_btn{
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    border-bottom: 2px solid #727272;
}

#chat .chat_modal_open_btn button{
    display: block;
    border-radius: 2px;
    background-color: #727272;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

#chat .chat_modal_open_btn button span{
    display: block;
    text-align: center;
    border:1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    box-sizing: border-box;
    font-weight: bold;
}

#chat .chat_create_modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
    display: none;
}

#chat .chat_create_modal .modal_content{
    border:1px solid #bebebe;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fff;
}

#chat .chat_create_modal .modal_content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#chat .chat_create_modal .modal_content header .close_btn{
    width: 30px;
    height: 30px;
    position: relative;
}

#chat .chat_create_modal .modal_content header .close_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
}

#chat .chat_create_modal .modal_content header .close_btn span.line1{
    transform: translate(-50%, -50%) rotate(45deg);
}

#chat .chat_create_modal .modal_content header .close_btn span.line2{
    transform: translate(-50%, -50%) rotate(-45deg);
}

#chat .chat_create_modal .modal_content input{
    border:1px solid #e1e1e1;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.9rem;
}

#chat .chat_create_modal .modal_content input::placeholder{
    color: #ccc;
}

#chat .chat_create_modal .modal_content .content{

}

#chat .chat_create_modal .modal_content .content .name_pass_box{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#chat .chat_create_modal .modal_content .content .name_pass_box input{
    width: 49%;
}

#chat .chat_create_modal .modal_content .content .text_box{
    margin-bottom: 1rem;
}

#chat .chat_create_modal .modal_content .content .text_box input{
    width: 100%;
}

#chat .chat_create_modal .modal_content .content .btn_box{
    box-sizing: border-box;
}

#chat .chat_create_modal .modal_content .content .btn_box button{
    display: block;
    border-radius: 2px;
    background-color: #727272;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

#chat .chat_create_modal .modal_content .content .btn_box button span{
    display: block;
    text-align: center;
    border:1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    box-sizing: border-box;
    font-weight: bold;
}
