body{background: #EEE;}
.crad_theme_container{width: 100%; max-width: 480px; margin:0 auto;}
.title_img{display: block; width: 100%; height: auto;}



/*************************/
/***** cover section *****/
/*************************/

.cover{width: 100%; height: auto; position: relative; background: #FFF;}
.cover_bg{display: block; width: 100%; height: auto; position: relative; z-index: 100;}
.cover_content_box{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.cover_content_box .title{position: absolute; left: 50%; top: 13%; transform: translateX(-50%); z-index: 110;}
.cover_content_box .cover_img_box{position: absolute; left: 0; top: 26%; width: 100%; height: 44.5%;}
.cover_content_box .cover_img_box .cover_img{display: block; width: 100%; height: 100%; object-fit: cover;}
.cover_content_box .cover_date_box{position: absolute; width: 100%; left: 0; bottom: 10%; z-index: 110;}
.cover_content_box .cover_date_box span{display: block; text-align: center; color: #7d7d7d; font-size: 12px;}



/******************************/
/***** invitation section *****/
/******************************/

.invitation{padding: 50px 0; background: #f8f4f2;}
.invitation .invitation_txt_box{padding: 50px 20px;}
.invitation .invitation_txt_box p{text-align: center; white-space: pre-line; line-height: 2;}
.invitation .invitation_name_box{width: 100%; max-width: 280px; margin:0 auto; position:relative;}
.invitation .invitation_name_box .icon{position:absolute; left:50%; top:50%; transform:translate(-50% , -50%); font-size: 16px; font-weight: bold; color: #000;}
.invitation .invitation_name_box .name1{float:left; width: 50%;}
.invitation .invitation_name_box .name2{float:right; width:50%; text-align: right;}
.invitation .invitation_name_box > p{font-size: 14px; color: #99a174;}
.invitation .invitation_name_box > p > span{padding-left: 20px; letter-spacing: 3px; font-size: 15px; color: #000; font-weight: bold;}



/********************************/
/***** hosting_tell section *****/
/********************************/

.hosting_tell{padding: 40px 0; background: #FFF;}
.hosting_tell .content_box{width: 100%; padding: 0 8%; margin:0 auto; box-sizing: border-box; display: flex; align-items: center; justify-content: space-between;}
.hosting_tell .content_box .name_box span{font-size: 10px; color: #b8b8b8; display: inline-block; padding-bottom: 5px;}
.hosting_tell .content_box .name_box p{font-size: 16px; color: #363636; }
.hosting_tell .content_box .tell_box{}
.hosting_tell .content_box .tell_box .icon{display: inline-block; width: 50px; height: 50px;}
.hosting_tell .content_box .tell_box .icon img{display: block; width: 100%; height: auto;}
.hosting_tell .content_box .tell_box .icon.tell{padding-right: 10px;}
.hosting_tell .bar{width: 100%; height: 2px; padding: 0 8%; box-sizing: border-box; margin:20px 0;}
.hosting_tell .bar:before{content: ''; display: block; width: 100%; height: 100%; background: #eaeaea; }



/***************************/
/***** gallery section *****/
/***************************/

.gallery{padding: 50px 0; background: #f8f4f2;}
.gallery .gallery_content{padding: 40px 8% 0 8%; box-sizing: border-box; position: relative;}
.gallery .gallery_content .swiper-container{width: 100%; margin-left: auto; margin-right: auto;}
.gallery .gallery_content .swiper-container.gallery-top{position: relative;}
.gallery .gallery_content .swiper-container.gallery-top img{display: block; width: 100%; height: auto;}
.gallery .gallery_content .swiper-container .swiper-slide {background-size: cover; background-position: center;}
.gallery .gallery_content .swiper-container.gallery-thumbs { box-sizing: border-box; padding: 10px 0;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide {height: 100%; opacity: 0.4;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide:before{content: ''; display: block; width: 100%; padding-bottom: 100%;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide-thumb-active {opacity: 1;}
.gallery .gallery_content .slider_btn{position: absolute; top: 50%; transform: translateY(-50%); z-index: 100; color: #FFF; width: 40px; height: 40px; background: rgba(0,0,0,0.5); text-align: center; line-height: 50px; border-radius: 3px;}
.gallery .gallery_content .slider_btn.gallery_slider_left{left: 0; margin-left: 4%; }
.gallery .gallery_content .slider_btn.gallery_slider_right{right: 0; margin-right: 4%;}



/****************************/
/***** location section *****/
/****************************/

.location{padding: 50px 8% 30px 8%; background: #FFF; box-sizing: border-box;}
.location .map_container{ box-sizing: border-box; margin-top: 20px; position: relative;}
.location .map_container:before{content: ''; display: block; width: 100%; padding-bottom: 100%;}
.location .map_box{width: 100%; height: 100%; position: absolute; left: 0; top: 0; box-sizing: border-box;}
.location .location_text_box{padding: 80px 10px 20px 10px; background: #f8f4f2; position: relative;}
.location .location_icon_box{position: absolute; left: 0; top: -30px; width: 100%; z-index: 200;}
.location .location_icon_box .icon{width: 64px;}
.location .location_icon_box .icon.icon_naver{float: left;}
.location .location_icon_box .icon.icon_google{float: left;}
.location .location_icon_box .icon.icon_tel{float: right;}
.location .location_icon_box .icon span{display: block; width: 100%; text-align: center; font-size: 11px; color: #a4a4a4;}
.location .location_text_box .road_box{padding-bottom: 10px; font-size: 16px; color: #000; font-weight: bold;}
.location .location_text_box .road_detail_box{font-size: 14px; color: #777777; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #c6c6c6;}
.location .location_text_box .road_option{background: #FFF; padding: 10px 15px; margin-bottom: 15px; display: flex; align-items: center;}
.location .location_text_box .road_option div{display: flex; justify-content: space-between; align-items: center; vertical-align: middle; width: 50px; margin-right: 10px; float: left;}
.location .location_text_box .road_option div span{color: #a9a9a9;}
.location .location_text_box .road_option p{float: right; width: calc(100% - 60px); color: #656565; }



/****************************/
/***** location section *****/
/****************************/

.chat{padding: 50px 0; background: #FFF;}
.chat .chat_content{padding: 0 8%; box-sizing: border-box;  }
.chat .chat_form_box{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 30px 0; box-sizing: border-box; border-bottom: 2px solid #606060;}
.chat .chat_form_box input{padding: 10px; outline: none; border: 1px solid #e3e3e3; background: #f9f9f9; color: #000; margin-bottom: 20px;}
.chat .chat_form_box #chat_form_name{width: 40%;}
.chat .chat_form_box #chat_form_password{width: 58%;}
.chat .chat_form_box #chat_form_text{width: 100%;}
.chat .chat_form_box .chat_form_save{width: 100%; background: #313131; padding: 10px 0; color: #FFF;}
.chat .chat_item_box{}
.chat .chat_item_box .chat_item{padding: 15px 0; border-bottom: 1px solid #d3d3d3;}
.chat .chat_item_box .chat_item .text{font-size: 13px; color: #000;}
.chat .chat_item_box .chat_item .name{padding-right: 5px;}
.chat .chat_item_box .chat_item .name,
.chat .chat_item_box .chat_item .date{display: inline-block; vertical-align: middle; font-size: 11px;  color: #a6a6a6; letter-spacing: 1.5px;}
.chat #example thead{display: none;}
.chat .dataTables_paginate{width: 100%; text-align: center; margin-top: 20px;}
.chat .previous, .chat .next{display: none;}
.chat .dataTables_paginate span .paginate_button{display: inline-block; width: 30px; height: 30px; line-height: 30px; margin:0 5px; border-radius: 50%; text-align: center; cursor: pointer; color: #808080;}
.chat .dataTables_paginate span .paginate_button.current{background: #aeb19f; color: #FFF;}



/**************************/
/***** footer section *****/
/**************************/

.footer{padding: 20px 8% 20px 8%; background: #f8f4f2; box-sizing: border-box;}
.footer .sns_box{display: flex; align-items: center; border-bottom: 1px solid #e7e0dd; padding-bottom: 20px;}
.footer .sns_box .tit05{}
.footer .sns_box .sns_btn{}
.footer .sns_box .sns_btn{padding: 13px 10px; box-sizing: border-box; border-radius: 3px; color: #FFF; font-size: 11px;}
.footer .sns_box .sns_btn img{margin-right: 5px;}
.footer .sns_box .sns_btn img,
.footer .sns_box .sns_btn span{display: inline-block; vertical-align: middle;}
.footer .sns_box .sns_btn.sns_kakao{background: #ffba12; margin-right: 5px; margin-left: auto;}
.footer .sns_box .sns_btn.sns_mail{background: #50ba8d;}
.footer .footer_text_box{color: #ac9e98; padding-top: 20px; text-align: center;}
.footer .footer_text_box p{font-size: 10px;}
.footer .footer_text_box span{font-size: 8px;}
