<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="kr"> <!--<![endif]-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>저희, 결혼합니다!!</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css"/>
    <link rel="stylesheet" href="{{ theme:css src='reset.css' }}">
    <link rel="stylesheet" href="{{ theme:css src='photoswipe.css' }}">
    <link rel="stylesheet" href="{{ theme:css/default src='default-skin.css' }}">
    <link rel="stylesheet" href="{{ theme:templates/wedding/wedding01/css src='card.css' }}">
</head>
<body>


<div id="app">
    <div class="cover" id="cover">
        <img src="{{ theme:templates/wedding/wedding01/image src='main_bg.png' }}" class="cover_back_img" alt="">
        <div class="img_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='sample_img1.png'}}" class="cover_img" alt="">
        </div>
        <div class="text_box">
            <div class="cover_name_box">
                <strong>박민정</strong>
                <span>·</span>
                <strong>이정화</strong>
            </div>
            <div class="cover_location_box">
                <div class="day">2020. 09. 18 SUN 11:00 AM</div>
                <div class="building">더컨벤션영등포점 1층 그랜드볼룸 홀</div>
            </div>
        </div>
    </div>

    <div class="invitation" id="invitation">
        <div class="title_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='tit01.png'}}" class="title" alt="">
        </div>
        <div class="invitation_txt_box">
            <p>OO＆OO의 사랑이 맺어져
                결혼식을 올리게되었습니다.

                그동안 많은 사랑과 관심에
                보답하는 마음으로 정성껏 준비한
                결혼식에 참석해주시면 감사하겠습니다.</p>
        </div>
        <div class="line_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='line.png'}}" class="line" alt="">
        </div>
        <div class="hosting_tell_btn_box">
            <button class="btn_box groom_btn">
                <img src="{{ theme:templates/wedding/wedding01/image src='groom_off.png'}}" class="icon" alt="">
                <span>신랑측 연락하기</span>
            </button>
            <button class="btn_box bride_btn">
                <img src="{{ theme:templates/wedding/wedding01/image src='bride_off.png'}}" class="icon" alt="">
                <span>신부측 연락하기</span>
            </button>
        </div>
        <div class="hosting_modal">
            <div class="modal_content">
                <header>
                    <div class="icon_box">
                        <div class="groom">
                            <img src="{{ theme:templates/wedding/wedding01/image src='groom_on.png'}}" class="icon" alt="">
                            <span>신랑측 연락하기</span>
                        </div>
                        <div class="bride">
                            <img src="{{ theme:templates/wedding/wedding01/image src='bride_on.png'}}" class="icon" alt="">
                            <span>신부측 연락하기</span>
                        </div>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="list_box">
                    <div class="groom">
                        <ul>
                            <li>
                                <div class="name">신랑</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="name">父 이종환</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="name">母 박정민</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="bride">
                        <ul>
                            <li>
                                <div class="name">신부</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="name">父 이종환</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="name">母 박정민</div>
                                <div class="icon_box tel">
                                    <a href="#">
                                        <span class="txt">전화하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_call.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                                <div class="icon_box sms">
                                    <a href="#">
                                        <span class="txt">문자하기</span>
                                        <img src="{{ theme:templates/wedding/wedding01/image src='ico_sms.png'}}" class="icon" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery" id="gallery">
        <div class="title_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='tit02.png'}}" class="title" alt="">
        </div>
        <div class="gallery_content">

            <div class="my-gallery">
                <div class="images_box">
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                    <figure>
                        <a href="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="contentUrl" data-size="1024x1024">
                            <img src="{{ theme:templates/wedding/wedding01/image src='photo1.png'}}" itemprop="thumbnail" alt="Image description"/>
                        </a>
                    </figure>
                </div>
            </div>


            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe.
                     It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides.
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            <button class="pswp__button pswp__button--share" title="Share"></button>

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="video" id="video">
        <div class="title_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='tit03.png'}}" class="title" alt="">
        </div>
        <div class="video_content">
            <div class="video_box">
                <div class="player_box">
                    <iframe src="https://player.vimeo.com/video/438210156?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                    </iframe>
                </div>
                <div class="video_link">
                    <a href="#">영상보러 가기 <i class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="location" id="location">
        <div class="title_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='tit04.png'}}" class="title" alt="">
        </div>
        <div class="location_box">

            <div class="map_container">
                <input type="hidden" class="field" id="lat" value="37.5635793508101"/>
                <input type="hidden" class="field" id="lng" value="126.975389363157"/>
                <input type="hidden" id="road" value="서울 중구 서소문로 지하 127"/>
                <div class="daum_map map_box" id="daum_map_box">

                </div>
                <div class="naver_map map_box" id="naver_map">

                </div>
            </div>
            <div class="location_text_box">
                <div class="location_icon_box">
                    <div class="icon_tmap icon">
                        <a href="https://map.kakao.com/link/to/{{card.location.road}},{{card.location.lat}},{{card.location.lng}}" target="_blank">
                            <img src="{{ theme:templates/wedding/wedding01/image src='navi_tmap.png' }}" alt="카카오 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_kakao icon">
                        <a href="#" onclick="navi();">
                            <img src="{{ theme:templates/wedding/wedding01/image src='navi_kakao.png' }}" alt="구글 지도" class="title_img">
                        </a>
                    </div>
                    <div class="icon_call icon">
                        <a href="tel:{{card.location.tell}}">
                            <img src="{{ theme:templates/wedding/wedding01/image src='navi_call.png' }}" alt="전화" class="title_img">
                        </a>
                    </div>
                </div>
                <div class="wrap_address">
                    <div class="address_detail">
                        <p>리버사이드 호텔 1층 그랜드 볼룸 홀</p>
                    </div>
                    <div class="address_main">
                        <p>서울 서초구 강남대로107길 6</p>
                    </div>
                    <div class="address_tell">
                        <p>02-6710-1100</p>
                    </div>
                </div>
                <div class="line_box">
                    <img src="{{ theme:templates/wedding/wedding01/image src='line.png'}}" class="line" alt="">
                </div>
                <div class="textarea_box">
                    <p>dsfdsfsdfsdfdsfsdfdsfdsfsdf</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat" id="chat">
        <div class="title_box">
            <img src="{{ theme:templates/wedding/wedding01/image src='tit05.png'}}" class="title" alt="">
        </div>
        <div class="chat_modal_open_btn">
            <button>
                <span>메세지 등록</span>
            </button>
        </div>
        <div class="chat_create_modal">
            <div class="modal_content">
                <header>
                    <div class="title_box">
                       <p>성함, 비밀번호를 입력후 메세지를 남겨주세요</p>
                    </div>
                    <button class="close_btn">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </button>
                </header>
                <div class="content">
                    <form method="post" name="chat_data" id="chat_data" onsubmit="return false;">
                        <input type="hidden" id="chat_time" value="" name="card[content][time]">
                        <input type="hidden" value="chat" name="type" id="type">
                        <input type="hidden" id="orderGoodsNo" name="orderGoodsNo" value="{{orderGoodsNo}}">
                        <input type="hidden" id="orderNo" name="orderNo" value="{{orderNo}}">
                        <input type="hidden" id="userNo" name="userNo" value="{{userNo}}">
                        <input type="hidden" id="card_title" name="card[card_title]" value="{{card.cardId}}">
                        <div class="name_pass_box">
                            <input type="text" placeholder="성함" id="chat_form_name" name="card[content][name]">
                            <input type="password" placeholder="비밀번호" id="chat_form_password" autocomplete="new-password" name="card[content][password]">
                        </div>
                        <div class="text_box">
                            <input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_form_text" name="card[content][comment]">
                        </div>
                        <div class="btn_box">
                            <button class="chat_form_save" type="button" onclick="goData()">
                                <span>메세지 등록</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="chat_item_box">
            <table id="example" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
<!--            <div class="modal_box">-->
<!--                <div class="chat_select_modal clearfix">-->
<!--                    <div class="chat_delete_select">-->
<!--                        <p>삭제하기</p>-->
<!--                    </div>-->
<!--                    <div class="chat_modifiy_select">-->
<!--                        <p>수정하기</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="chat_delete_modal_box">-->
<!--                    <input type="password" id="delete_chat_password" placeholder="비밀번호" >-->
<!--                    <input type="hidden" id="delete_chat_num" >-->
<!--                    <button id="chat_delete_btn">삭제하기</button>-->
<!--                    <button id="chat_delete_close">취소</button>-->
<!--                </div>-->
<!--                <div class="chat_modifiy_modal_box">-->
<!--                    <input type="text" placeholder="성함" id="chat_modifiy_name" >-->
<!--                    <input type="password" placeholder="비밀번호" id="chat_modifiy_password" autocomplete="new-password" >-->
<!--                    <input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_modifiy_text" >-->
<!--                    <input type="hidden" id="modifiy_chat_num" >-->
<!--                    <button id="chat_modifiy_btn">수정하기</button>-->
<!--                    <button id="chat_modifiy_close">취소</button>-->
<!--                </div>-->
<!--                <div class="modal_bg">-->

<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</div>


<script>

    // 연락쳐 및 sns 공유 관련 코드

    // const UserAgent = navigator.platform; //하드웨어 플랫폼
    // const sns_mail = document.querySelector('.sns_mail');
    // const mail_link1 = document.querySelector('.mail_link1');
    // const mail_link2 = document.querySelector('.mail_link2');
    //
    // if (UserAgent.match(/i(Phone|Pod)/i) != null) {
    //     sns_mail.setAttribute('href' ,'sms:&body={{card.title}} https://videomaker.nanuly.kr/card/{{card.cardId}}' )
    //     mail_link1.setAttribute('href', 'sms:{{card.state.groom_phone}}&body=')
    //     mail_link2.setAttribute('href', 'sms:{{card.state.priest_phone}}&body=')
    // } else {
    //     sns_mail.setAttribute('href' ,'sms:?body={{card.title}} https://videomaker.nanuly.kr/card/{{card.cardId}}' )
    //     mail_link1.setAttribute('href', 'sms:{{card.state.groom_phone}}?body=')
    //     mail_link2.setAttribute('href', 'sms:{{card.state.priest_phone}}?body=')
    // }

</script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{{ theme:js src='photoswipe.min.js' }}"></script>
<script src="{{ theme:js src='photoswipe-ui-default.min.js' }}"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js" defer></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2172bd470d6c993b82afa45abacebd35&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pfrjrsbxuz&callback=initMap"></script>
<script src="{{ theme:js src='Pagination.js' }}"></script>
<script src="{{ theme:templates/wedding/wedding01/js src='card.js' }}"></script>

</body>
</html>
