@font-face { font-family: '777Balsamtint'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff'); font-weight: normal; font-style: normal; }


@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,500,600,700,900&display=swap&subset=korean');


body{background: #EEE; }
.crad_theme_container{width: 100%; max-width: 480px; margin:0 auto; visibility: hidden;}
.title_img{display: block; width: 100%; height: auto;}



/*****************************/
/***** warning_container *****/
/*****************************/

.warning_container{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none; align-items: center; justify-content: center;}
.warning_container .warning_box{width: 100%; max-width: 600px; padding: 10px; box-sizing: border-box; }
.warning_container .warning_box .top{background:#f25659; border-radius: 10px 10px 0 0; padding: 20px 0; box-sizing: border-box; text-align: center;}
.warning_container .warning_box .btm{background: #FFF; border-radius: 0 0 10px 10px; padding: 20px 0; box-sizing: border-box; text-align: center;}
.warning_container .warning_box .btm p{color: #3c455f; font-size: 30px; margin-bottom: 10px;}
.warning_container .warning_box .btm span{color: #3c455f; font-size: 18px; font-weight: bold;}
.warning_container .warning_box .btm > div{margin-top: 10px;}
.warning_container .warning_box .btm > div a{display:inline-block; padding: 5px 10px; border-radius: 15px; background:#f25659; color:#FFF;}


/*************************/
/***** cover section *****/
/*************************/

.cover{width: 100%; height: auto; position: relative; background: #FFF;}
.cover_bg{display: block; width: 100%; height: auto; position: relative; z-index: 100;}
.cover_content_box{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.cover .bg_top_img_box{position: relative;}
.cover .bg_top_img_box img{display: block; width: 100%; height: auto;}
.cover .bg_top_img_box .title{position: absolute; left: 50%; bottom: 72%; color: #231e15; font-size: 1.85rem; font-weight: 300; transform: translateX(-50%); z-index: 110; width: 100%; text-align: center; white-space: pre-line; font-family: 'Noto Serif KR', serif;}
.cover .cover_img_box{width: 100%; height: auto;}
.cover .cover_img_box .cover_img{display: block; width: 100%; height: 100%; object-fit: contain;}
.cover .bg_btm_img_box{position: relative;}
.cover .bg_btm_img_box img{display: block; width: 100%; height: auto;}
.cover .cover_date_box{position: absolute; width: 100%; left: 0; top: 40%; z-index: 110;}
.cover .cover_date_box p{text-align: center; font-size: 1.4rem; color: #000; margin-bottom: 20px; }
.cover .cover_date_box span{display: block; text-align: center; color: #767676; font-weight: 500; font-size: 1.1rem;}
.cover .cover_date_box span:first-child{margin-bottom: 15px;}

.cover_content_box .cover_img_box{position: absolute; left: 0; top: 26%; width: 100%; z-index: 100;}
.cover_content_box .cover_img_box:before{content: ''; display: block; width: 100%; padding-bottom:62.7659%; }
.cover_content_box .cover_img_box .cover_img{position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; object-fit: contain;}



/******************************/
/***** invitation section *****/
/******************************/

.invitation{padding: 50px 0; background: #fdfdfd;}
.invitation_icon{display: block; margin:0 auto;}
.invitation .invitation_icon{width: 17%;}
.invitation .invitation_txt_box{padding: 50px 20px;}
.invitation .invitation_txt_box p{text-align: center; white-space: pre-line; line-height: 2; font-family: 'Noto Serif KR', serif;}
.invitation .invitation_name_box{width: 100%; max-width: 305px; margin:0 auto; position:relative; display: flex; align-items: center; justify-content: center;}
.invitation .invitation_name_box .name1{width: 50%;}
.invitation .invitation_name_box .name2{width:50%; text-align: right;}
.invitation .invitation_name_box > p{font-size: 14px; color: #b3b3b3;}
.invitation .invitation_name_box > p > span{padding-left: 20px; letter-spacing: 3px; font-size: 15px; color: #505050; font-weight: 500;}



/********************************/
/***** hosting_tell section *****/
/********************************/

.hosting_tell{padding: 40px 0; background-image: url(../image/hosting_tell_bg.png);}
.hosting_tell .content_box{width: 100%; padding: 0 8%; margin:0 auto; box-sizing: border-box; display: flex; align-items: center; justify-content: space-between;}
.hosting_tell .content_box .name_box span{font-size: 10px; color: #b8b8b8; display: inline-block; padding-bottom: 5px;}
.hosting_tell .content_box .name_box p{font-size: 16px; color: #363636; }
.hosting_tell .content_box .tell_box{}
.hosting_tell .content_box .tell_box .icon{display: inline-block; width: 50px; height: 50px;}
.hosting_tell .content_box .tell_box .icon img{display: block; width: 100%; height: auto;}
.hosting_tell .content_box .tell_box .icon.tell{padding-right: 10px;}
.hosting_tell .bar{width: 100%; height: 2px; padding: 0 8%; box-sizing: border-box; margin:20px 0;}
.hosting_tell .bar:before{content: ''; display: block; width: 100%; height: 100%; background: #d8d8d8; }



/***************************/
/***** gallery section *****/
/***************************/

.gallery{padding: 50px 0; background: #f8f4f2;}
.gallery .gallery_content{padding: 40px 8% 0 8%; box-sizing: border-box; position: relative;}
.gallery .gallery_content .swiper-container{width: 100%; margin-left: auto; margin-right: auto;}
.gallery .gallery_content .swiper-container.gallery-top{position: relative;}
.gallery .gallery_content .swiper-container.gallery-top img{position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; object-fit: contain;}
.gallery .gallery_content .swiper-container.gallery-top .swiper-slide{padding-bottom: 100%; background:#000; position: relative;} 
.gallery .gallery_content .swiper-container .swiper-slide {background-size: cover; background-position: center;}
.gallery .gallery_content .swiper-container.gallery-thumbs { box-sizing: border-box; padding: 10px 0;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide {height: 100%; opacity: 0.4;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide:before{content: ''; display: block; width: 100%; padding-bottom: 100%;}
.gallery .gallery_content .swiper-container.gallery-thumbs .swiper-slide-thumb-active {opacity: 1;}
.gallery .gallery_content .slider_btn{position: absolute; top: 50%; transform: translateY(-50%); z-index: 100; color: #FFF; width: 40px; height: 40px; background: rgba(0,0,0,0.5); text-align: center; line-height: 50px; border-radius: 3px;}
.gallery .gallery_content .slider_btn.gallery_slider_left{left: 0; margin-left: 4%; }
.gallery .gallery_content .slider_btn.gallery_slider_right{right: 0; margin-right: 4%;}



/****************************/
/***** location section *****/
/****************************/

.location{padding: 50px 8% 30px 8%; background: #fdfdfd; box-sizing: border-box;}
.location .invitation_icon{width: 35%;}
.location .map_container{ box-sizing: border-box; margin-top: 20px; position: relative;}
.location .map_container:before{content: ''; display: block; width: 100%; padding-bottom: 100%;}
.location .map_box{width: 100%; height: 100%; position: absolute; left: 0; top: 0; box-sizing: border-box;}
.location .map_box#daum_map_box{display: none;}
.location.daum .map_box#daum_map_box{display: block;}
.location .map_box#google_map_box{display: none;}
.location.google .map_box#google_map_box{display: block;}
.location .location_text_box{padding: 80px 10px 20px 10px; background: #f8f8f8; position: relative;}
.location .location_icon_box{position: absolute; left: 0; top: -30px; width: 100%; z-index: 200;}
.location .location_icon_box .icon{width: 80px;}
.location .location_icon_box .icon.icon_naver{float: left;}
.location .location_icon_box .icon.icon_google{float: left;}
.location .location_icon_box .icon.icon_tel{float: right;}
.location .location_icon_box .icon span{display: block; width: 100%; text-align: center; font-size: 11px; color: #a4a4a4;}
.location .location_text_box .road_box{padding-bottom: 10px; font-size: 16px; color: #000; font-weight: bold;}
.location .location_text_box .road_detail_box{font-size: 14px; color: #777777; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #c6c6c6;}
.location .location_text_box .road_option{background: #FFF; padding: 10px 15px; margin-bottom: 15px; display: flex; align-items: center; }
.location .location_text_box .road_option div{display: flex; justify-content: space-between; align-items: center; vertical-align: middle; width: 50px; margin-right: 10px; float: left;}
.location .location_text_box .road_option div span{color: #a9a9a9;}
.location .location_text_box .road_option p{float: right; width: calc(100% - 60px); color: #656565; white-space:pre-line;  }



/**************************/
/***** first_birthday *****/
/**************************/

.first_birthday{position: relative;}
.first_birthday .first_text_box{position: absolute; width: 100%; left: 0; bottom: 35%; color: #FFF; text-align: center; letter-spacing: 2px;}


/************************/
/***** chat section *****/
/************************/

.chat{padding: 50px 0; background: #fdfdfd;}
.chat .invitation_icon{width: 40%;}
.chat .chat_content{padding: 0 8%; box-sizing: border-box;  }
.chat .chat_form_box{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 30px 0; box-sizing: border-box; border-bottom: 2px solid #606060;}
.chat .chat_form_box input{padding: 10px; outline: none; border: 1px solid #e3e3e3; background: #f9f9f9; color: #000; margin-bottom: 20px;}
.chat .chat_form_box #chat_form_name{width: 40%;}
.chat .chat_form_box #chat_form_password{width: 58%;}
.chat .chat_form_box #chat_form_text{width: 100%;}
.chat .chat_form_box .chat_form_save{width: 100%; background: #313131; padding: 10px 0; color: #FFF;}
.chat .chat_item_box{}
.chat .chat_item_box .chat_item{padding: 15px 0; border-bottom: 1px solid #d3d3d3; cursor: pointer; transition: 0.3s;}
.chat .chat_item_box .chat_item:hover{background: #EEE;}
.chat .chat_item_box .chat_item .text{font-size: 13px; color: #000;}
.chat .chat_item_box .chat_item .name{padding-right: 5px;}
.chat .chat_item_box .chat_item .name,
.chat .chat_item_box .chat_item .date{display: inline-block; vertical-align: middle; font-size: 11px;  color: #a6a6a6; letter-spacing: 1.5px;}
.chat #example thead{display: none;}
.chat .guest_num{display: none;}
.chat .dataTables_empty{display: none !important;}
.chat .dataTables_paginate{width: 100%; text-align: center; margin-top: 20px;}
.chat .previous, .chat .next{display: none;}
.chat .dataTables_paginate span .paginate_button{display: inline-block; width: 30px; height: 30px; line-height: 30px; margin:0 5px; border-radius: 50%; text-align: center; cursor: pointer; color: #808080;}
.chat .dataTables_paginate span .paginate_button.current{background: #aeb19f; color: #FFF;}


.chat .modal_box{display: none;}
.chat .modal_box.active{display: block;}

.chat .chat_select_modal{position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%; max-width: 480px; background: #f9f9f9; box-sizing: border-box;  background: #FFF; z-index: 1000;}
.chat .chat_select_modal .chat_delete_select{ float:left; }
.chat .chat_select_modal .chat_modifiy_select{float:right;}
.chat .chat_select_modal .chat_delete_select,
.chat .chat_select_modal .chat_modifiy_select{width: 50%; text-align: center; cursor: pointer; padding: 30px 15px; box-sizing: border-box; transition: 0.3s;}
.chat .chat_select_modal .chat_delete_select:hover,
.chat .chat_select_modal .chat_modifiy_select:hover{background: #ff9900; color: #FFF;}


.chat .chat_delete_modal_box{position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%; max-width: 480px; border: 1px solid #e3e3e3; background: #f9f9f9; box-sizing: border-box;  background: #FFF; z-index: 1100; padding: 10px; display: none;}
.chat .chat_delete_modal_box.active{display: block;}
.chat .chat_delete_modal_box input{display: block; width: 100%; padding: 10px; outline: none; border: 1px solid #e3e3e3; background: #f9f9f9; color: #000; margin-bottom: 20px;}
.chat .chat_delete_modal_box button{display: block; width: 100%;background: #313131;padding: 10px 0;color: #FFF; margin-bottom: 20px;}

.chat .chat_modifiy_modal_box{position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 100%; max-width: 480px; border: 1px solid #e3e3e3; background: #f9f9f9; box-sizing: border-box;  background: #FFF; z-index: 1100; padding: 10px; display: none;}
.chat .chat_modifiy_modal_box.active{display: block;}

.chat .chat_modifiy_modal_box input{padding: 10px; outline: none; border: 1px solid #e3e3e3; background: #f9f9f9; color: #000; margin-bottom: 20px; width: 100%;}
.chat .chat_modifiy_modal_box #chat_modifiy_name{width: 40%;}
.chat .chat_modifiy_modal_box #chat_modifiy_password{width: 58%;}
.chat .chat_modifiy_modal_box #chat_modifiy_text{width: 100%;}
.chat .chat_modifiy_modal_box button{display: block; width: 100%;background: #313131;padding: 10px 0;color: #FFF; margin-bottom: 20px;}
.chat .modal_bg{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 900;}



/**************************/
/***** footer section *****/
/**************************/

.footer{padding: 20px 8% 20px 8%; background: #f8f4f2; box-sizing: border-box;}
.footer .sns_box{display: flex; align-items: center; border-bottom: 1px solid #e7e0dd; padding-bottom: 20px;}
.footer .sns_box .tit05{width: 15%;}
.footer .sns_box .sns_btn{cursor: pointer;}
.footer .sns_box .sns_btn{padding: 13px 10px; box-sizing: border-box; border-radius: 3px; color: #FFF; font-size: 11px;}
.footer .sns_box .sns_btn img{margin-right: 5px; transform: scale(0.5);}
.footer .sns_box .sns_btn img,
.footer .sns_box .sns_btn span{display: inline-block; vertical-align: middle;}
.footer .sns_box .sns_btn.sns_kakao{background: #ffb12b; margin-right: 5px; margin-left: auto;}
.footer .sns_box .sns_btn.sns_kakao img{transform: scale(0.6);}
.footer .sns_box .sns_btn.sns_mail{background: #1fd994;}
.footer .footer_text_box{color: #ac9e98; padding-top: 20px; text-align: center;}
.footer .footer_text_box p{font-size: 10px;}
.footer .footer_text_box span{font-size: 8px;}
.footer .footer_text_box .footer_text{display: inline-block; width: 45%;}