


#app{
    width: 100%;
    height: 100%;
}

#header{
    background-color: #fff;
}

#header .max_box{
    padding: 0 1rem;
    box-sizing: border-box;

}

#header .top{
    padding: 2rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
}

#header .btm{
    border-bottom: 1px solid #c9cdce;
}

#header .btm .max_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

#header .btm h1{
    font-size: 1rem;
    color: #494949;
}

#header .btm .btn_box{
    display: flex;
    align-items: center;
}

#header .btm button{
    padding: 14px 30px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#header .btm button span{
    color: #fff;
}

#header .btm button.prev_btn{
    margin-right: 5px;
    background-color: #a9a9a9;
    display: none;
}

#header .btm button.prev_btn.active{
    display: flex;
}

#header .btm button.next_btn{
    background-color: #ff9b00;
}

#header .btm button img{
    position: relative;
    top: 1px;
}

#header .btm button.prev_btn img{
    margin-right: 10px;
}

#header .btm button.next_btn img{
    margin-left: 10px;
}


@media screen and (min-width: 768px) {

}




#content{
    background-color: #f3f3f3;
    padding: 30px 1rem 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#content .left{
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    border:1px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
}

#content .left .sample_video_box{
    position: relative;
    padding-bottom: 56.25%;
}

#content .left .sample_video_box iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#content .left .sample_text_box{
    padding: 1rem;
    box-sizing: border-box;
}

#content .left .sample_text_box .title{
    font-size: 1.2rem;
    color: #494949;
    margin-bottom: 0.9rem;
}

#content .left .sample_text_box .text_box{
    font-size: 1rem;
}

#content .left .sample_text_box .text_box + div{
    margin-top: 0.5rem;
}

#content .left .sample_text_box .text_box .txt{
    color: #727272;
    display: inline-block;
    width: 60px;

}

#content .left .sample_text_box .text_box .yellow{
    color: #ff9b00;
    display: inline-block;
    margin-left: 1rem;
}

#content .right{
    flex: 1;
    padding-left: 0.75rem;
    width: 100%;
}

#content .right .photo_upload{
    width: 100%;
}

#content .right .photo_upload .tab_box{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

#content .right .photo_upload .tab_box li{

}

#content .right .photo_upload .tab_box li + li{
    margin-left: 5px;
}

#content .right .photo_upload .tab_box li button{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #a9a9a9;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 0.9rem;
}

#content .right .photo_upload .tab_box li button.active{
    background-color: #fff;
    color: #494949;
}

#content .right .photo_upload .upload_list_box{
    background-color: #fff;
    display: none;
}

#content .right .photo_upload .upload_list_box.active{
    display: block;
}

#content .right .photo_upload  .upload_list_box .upload_list_header{
    padding: 1rem;
    box-sizing: border-box;
    color: #494949;
    border-bottom: 1px solid #eeeeee;
}

#content .right .photo_upload  .upload_list_box .upload_list_header span{
    color: #ff9b00;
}

#content .right .photo_upload  .upload_list_box .upload_list_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#content .right .photo_upload .upload_list_box .upload_list_content li{
    width: 20%;
    background-color: #fcfcfc;
    position: relative;
}

#content .right .photo_upload  .upload_list_box .upload_list_content li:before{
    content: '';
    display: block;
    padding-bottom: 100%;
}

#content .right .upload_list_box li.img_container .img_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#content .right .upload_list_box li.img_container .img_box img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#content .right .upload_list_box li.img_container .remove_btn{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: #afb0b1;
    border-radius: 50%;
    cursor: pointer;
}

#content .right .upload_list_box li.img_container .remove_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 17px;
    height: 1px;
    background-color: #fff;
}

#content .right .upload_list_box li.img_container .remove_btn span:first-child{
    transform: translate(-50%, -50%) rotate(45deg);
}

#content .right .upload_list_box li.img_container .remove_btn span:last-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

#content .right .photo_upload  .upload_list_box .upload_list_content li.upload_btn{
    cursor: pointer;
}

#content .right .photo_upload  .upload_list_box .upload_list_content li.upload_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 1px;
    background-color: #888888;
}
#content .right .photo_upload  .upload_list_box .upload_list_content li.upload_btn span.line1{
    transform: translate(-50%, -50%);
}

#content .right .photo_upload  .upload_list_box .upload_list_content li.upload_btn span.line2{
    transform: translate(-50%, -50%) rotate(90deg);
}


@media screen and (max-width: 1100px) {
    #content{
        padding: 1rem;
    }
    #content .left{
        max-width: 100%;
    }

    #content .right{
        padding-left: 0;
        margin-top: 1rem;
    }
}






.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.modal .back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.modal .modal_content{
    position: relative;
    z-index: 101;
    max-width: 420px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
}



.file_loading_modal .modal_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file_loading_modal .modal_content .txt{
    margin-top: 50px;
    text-align: center;
    color: #6b6b6b;
}

.alert_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.alert_modal .modal_content h4{
    font-weight: bold;
}

.alert_modal .modal_content .txt{
    text-align: center;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.alert_modal .modal_content .txt .color{
    color: #ff9b00;
}
.alert_modal .modal_content .txt .color .count{
    color: #ff9b00;
}

.alert_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.create_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create_modal .modal_content h4{
    font-weight: bold;
}

.create_modal .modal_content .txt{
    text-align: center;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.create_modal .modal_content .txt .color{
    color: #ff9b00;
}

.create_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}


.request_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.request_modal .modal_content h4{
    font-weight: bold;
}

.request_modal .modal_content .txt{
    text-align: left;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.request_modal .modal_content .txt p {
    margin-bottom: 15px;
}

.request_modal .modal_content .txt .color{
    color: #ff9b00;
}

.request_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.music_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music_modal .modal_content .text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.music_modal .modal_content .text_box p{
    padding: 5px 0;
    color: #6b6b6b;
}

.music_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #ff9b00;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}


.move_modal{
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    transform: translateX(-50%);
    display: none;
}

.move_modal > div{
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: #ff9b00;
    color: #fff;
    text-align: center;
}



#scene_content{
    display: none;
    padding: 2rem 1rem;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    height: calc(100vh - 132px);
}

#scene_content > div{
    width: 49%;
}

#scene_content > .left{
    overflow-y: auto;
    height: 100%;
}

#scene_content > .left .item_list_box{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#scene_content > .left .item_list_box li{
    width: 32%;
    margin-left: 2%;
    background-color: #fafafa;
    border:2px solid #ececec;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 2%;
}

#scene_content > .left .item_list_box li:nth-child(3n + 1) {
    margin-left: 0;
}

#scene_content > .left .item_list_box .item_list .view_img{
    background-color: #000;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}


#scene_content > .left .item_list_box .item_list .view_img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#scene_content > .left .item_list_box .music_box .view_img{
    background-color: #323232;
}

#scene_content > .left .item_list_box .music_box .view_img:before{
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    /*transform: translate(-50%, -50%);*/
    border:1px solid #fff;

}

#scene_content > .left .item_list_box .music_box .music_title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
}

#scene_content > .left .item_list_box .music_box .text_box{
    height: 45px;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#scene_content > .left .item_list_box .music_box .text_box p{
    line-height: 1.2;
    width: 100%;
}


#scene_content > .left .item_list_box .music_box .input_box{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
}

#scene_content .left .item_list_box .music_box .input_box label{
    display: block;
    color: #ff9b00;
    border:1px solid #ff9b00;
    padding: 0.4rem;
    box-sizing: border-box;
    font-size: 12px;
}

#scene_content .left .item_list_box .music_box .input_box input{
    display: none;
}

#scene_content .left .item_list_box .img_box.active{
    border:2px solid #ff9b00;
}

#scene_content .left .item_list_box .img_box.not:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#scene_content .left .item_list_box .img_box .center{
    padding: 0 1rem;
    box-sizing: border-box;
    height: 45px;
    display: flex;
    align-items: center;

}
#scene_content .left .item_list_box .img_box .center p {
    color: #ff9b00;
    font-size: 11px;
}

#scene_content .left .item_list_box .img_box .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 1rem;
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
}

#scene_content .left .item_list_box .img_box .bottom span{
    font-size: 12px;
}

#scene_content .left .item_list_box .img_box .bottom button{
    font-size: 11px;
    color: #ff9b00;
}

#scene_content .left .item_list_box .img_box .bottom button.active{
    display: none;
}

#scene_content .left .item_list_box .img_box.not .bottom button{
    pointer-events: none;
}

#scene_content .right{
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 30px;
}

#scene_content .right .btn_box{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    box-sizing: border-box;
    border-top: 1px solid #f5f5f5;
    margin-top: auto;
}

#scene_content .right .btn_box button{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
}

#scene_content .right .btn_box button img{
    position: relative;
    top: 1px;
}

#scene_content .right .btn_box button.save{
    color: #ff9b00;
}

#scene_content .right .btn_box button.prev img{
    margin-right: 5px;
}

#scene_content .right .btn_box button.next img{
    margin-left: 6px;
}

#scene_content .right .btn_box button.active{
    pointer-events: none;
}

#scene_content > .free_view{
    display: none;
    width: 100%;
    margin-bottom: 1rem;
}

#scene_content > .free_view .free_view_box{
    position: relative;
    background-color: #000;
}

#scene_content > .free_view .free_view_box:before{
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

#scene_content > .free_view .free_view_box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.user_controller{
    width: 100%;
    height: 100%;
}

.user_controller_box{
    width: 100%;
    /*height: 100%;*/
}

#FormData{
    width: 100%;
    /*height: 100%;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

#FormData > div{
    width: 100%;
}

#FormData .help_text_box{
    width: 100%;
    color: #575757;
    font-size: 15px;
    height: 55px;
    line-height: 55px;
    padding: 0 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
}

#FormData .canvas_box{
    width: 100%;
    position: relative;
}

#FormData .canvas_box:before{
    content: '';
    display: block;
    padding-bottom: 56.25%;
    background-color: #000;
}

#FormData .canvas_box canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#FormData .canvas_box #user_video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#FormData .canvas_box #user_video video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#FormData .canvas_box .point_line{
    border:2px solid #ff9b00;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    pointer-events: none;
}

#FormData .controller_box .controll_ok{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    box-sizing: border-box;
}



#FormData .controller_box .controll_ok .icon_box{
    display: flex;
    align-items: center;
}

#FormData .controller_box .controll_ok.video_ok .icon_box{
    width: 100%;
    justify-content: center;
}

#FormData .controller_box .controll_ok .icon_box.line{
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#FormData #img_file{
    display: none;
}

#FormData .controller_box .controll_ok .icon_box button{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35px;
    min-width: 40px;
    /*width: 42px;*/
}

#FormData .controller_box .controll_ok .icon_box button .icon{
    display: block;
    width: 13px;
    height: auto;
}

#FormData .controller_box .controll_ok .icon_box button:first-child{
    margin-left: 0;
}

#FormData .controller_box .controll_ok .icon_box button .text{
    font-size: 13px;
    margin-top: auto;
}


#FormData .controller_box .mirror_box{
    display: none;
    padding: 1.1rem 1.5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
#FormData .controller_box .mirror_box.active{
    display: flex;
}

#FormData .controller_box .mirror_box button {
    padding: 0 10px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

#FormData .controller_box .mirror_box button span.icon {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 3px;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #F4F4F4;
}

#FormData .controller_box .mirror_box button:nth-child(1) span.icon {
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

#FormData .controller_box .mirror_box button:nth-child(2) span.icon {
    background-color: #000;
}

#FormData .controller_box .mirror_box button:nth-child(3) span.icon {
    background: linear-gradient(-45deg, #1f94ec, #8cbc86, #fce41d);
}

#FormData .controller_box .mirror_box button span.text {
    font-size: 10px;
    color: #b2b2b2;
}





#FormData .text_input_box{
    padding: 1.5rem;
    box-sizing: border-box;
}

#FormData .text_input_box .text_not > p{
    display: flex;
    align-items: center;
}

#FormData .text_input_box .text_not > p + p{
    margin-top: 15px;
}

#FormData .text_input_box .text_not > p img{
    margin-right: 0.5rem;
}

#FormData .text_input_box .text_not > p span{
    color: #575757;
}

#FormData .text_input_box .text_ok{
    width: 100%;
    border: 1px solid #e4e9f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f7f9fc;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    /*min-height: 100px;*/
}

#FormData .text_input_box .text_ok textarea{
    line-height: 1.5;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f7f9fc;
    resize: none;
    margin-right: 100px;
    border:none;
    outline: none;
    position: relative;
    min-height: 100px;
}

#FormData .text_input_box .text_ok input[type='text']{
    outline: none;
    width: 100%;
    display: block;
    border:none;
    background-color: #f7f9fc;
    margin-right: 100px;
    min-height: 100px;
}

#FormData .text_input_box .text_ok .btn_box1{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#FormData .text_input_box .text_ok .btn_box2{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
}

#FormData .text_input_box .text_ok .btn_box2 button{
    margin-left: 0.5rem;
}

#FormData .text_input_box .text_ok .btn_box2 button.active{
    transform: rotate(180deg);
}




.user_controller .controller_box .slider_bar {
    width: 100%;
}

.user_controller .controller_box .slider_bar .txt {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #3C3C3C;
    text-align: center;
}

.user_controller .controller_box .slider_bar .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;

}

.user_controller .controller_box .slider_bar .control_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.user_controller .controller_box .slider_bar .control_box .bar_box{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.user_controller .controller_box .slider_bar .control_box input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

.user_controller .controller_box .slider_bar .control_box #volume {
    flex: 1;
    height: 3px;
    outline: none;
}

.user_controller .controller_box .slider_bar .control_box input#volume[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-top: -12px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.user_controller .controller_box .slider_bar .control_box input#volume[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
}

.user_controller .controller_box .slider_bar .control_box .number.left{
    margin-right: 1rem;
}

.user_controller .controller_box .slider_bar .control_box .number.right{
    margin-left: 1rem;
}


.user_controller .controller_box .slider_bar .control_box #timeline {
    flex: 1;
    width: 100%;
    height: 25px;
    position: relative;
    z-index: 1;
}

.user_controller .controller_box .cut_box .control_box input[type='range']::-webkit-slider-thumb {
    background: #0B8DFF;
}

/*webkit (Chrome)의 경우*/


.user_controller .controller_box .cut_box .control_box input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10%;
    border-radius: 3px;
    background: #0B8DFF;
}

.user_controller .controller_box .cut_box .control_box input.point10[type='range']::-webkit-slider-thumb {
    width: 10%;
}

.user_controller .controller_box .cut_box .control_box input.point20[type='range']::-webkit-slider-thumb {
    width: 20%;
}

.user_controller .controller_box .cut_box .control_box input.point30[type='range']::-webkit-slider-thumb {
    width: 30%;
}

.user_controller .controller_box .cut_box .control_box input.point40[type='range']::-webkit-slider-thumb {
    width: 40%;
}

.user_controller .controller_box .cut_box .control_box input.point50[type='range']::-webkit-slider-thumb {
    width: 50%;
}

.user_controller .controller_box .cut_box .control_box input.point60[type='range']::-webkit-slider-thumb {
    width: 60%;
}

.user_controller .controller_box .cut_box .control_box input.point70[type='range']::-webkit-slider-thumb {
    width: 70%;
}

.user_controller .controller_box .cut_box .control_box input.point80[type='range']::-webkit-slider-thumb {
    width: 80%;
}

.user_controller .controller_box .cut_box .control_box input.point90[type='range']::-webkit-slider-thumb {
    width: 90%;
}

.user_controller .controller_box .cut_box .control_box input.point100[type='range']::-webkit-slider-thumb {
    width: 100%;
}

.user_controller .controller_box .cut_box .control_box input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: #E4E4E6;
    border-radius: 2px;
}

.user_controller .controller_box .slider_bar.cut_box .control_box .number.center{
    margin: 0 auto;
    display: block;
    border-radius: 5px;

    color: #0B8DFF;
    width: 100px;
    text-align: center;
    z-index: 100;
}


.user_controller .controller_box .slider_bar .control_box .balloon {
    position: absolute;
    left: 0;
    top: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0B8DFF;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s;
}

.user_controller .controller_box .slider_bar .control_box .balloon:after {
    content: '';
    position: absolute;
    border-top: 10px solid #0B8DFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 solid transparent;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.user_controller .controller_box .slider_bar .result_btn {
    display: block;
    width: 100%;
    height: 35px;
    max-width: 150px;
    box-sizing: border-box;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #5D5D5D;
    margin: 1rem auto;
}

.user_controller .controller_box .cut_box {
    display: none;
}



/*Firefox의 경우*/
.user_controller .controller_box .cut_box .control_box input[type='range']::-moz-range-track {
    height: 25px;
}

.user_controller .controller_box .cut_box .control_box input[type='range']::-moz-range-thumb {
    height: 25px;
    width: 10%;
    border-radius: 3px;
}

.user_controller .controller_box .cut_box .control_box input.point10[type='range']::-moz-range-thumb {
    width: 10%;
}

.user_controller .controller_box .cut_box .control_box input.point20[type='range']::-moz-range-thumb {
    width: 20%;
}

.user_controller .controller_box .cut_box .control_box input.point30[type='range']::-moz-range-thumb {
    width: 30%;
}

.user_controller .controller_box .cut_box .control_box input.point40[type='range']::-moz-range-thumb {
    width: 40%;
}

.user_controller .controller_box .cut_box .control_box input.point50[type='range']::-moz-range-thumb {
    width: 50%;
}

.user_controller .controller_box .cut_box .control_box input.point60[type='range']::-moz-range-thumb {
    width: 60%;
}

.user_controller .controller_box .cut_box .control_box input.point70[type='range']::-moz-range-thumb {
    width: 70%;
}

.user_controller .controller_box .cut_box .control_box input.point80[type='range']::-moz-range-thumb {
    width: 80%;
}

.user_controller .controller_box .cut_box .control_box input.point90[type='range']::-moz-range-thumb {
    width: 90%;
}

.user_controller .controller_box .cut_box .control_box input.point100[type='range']::-moz-range-thumb {
    width: 100%;
}

/*IE의 경우*/
.user_controller .controller_box .cut_box .control_box input[type='range']::-ms-track {
    height: 25px;
}

.user_controller .controller_box .cut_box .control_box input[type='range']::-ms-thumb {
    height: 25px;
    width: 36.8px;
    border-radius: 3px;
}

.user_controller .controller_box .cut_box .control_box input.point10[type='range']::-ms-thumb {
    width: 36.8px;
}

.user_controller .controller_box .cut_box .control_box input.point20[type='range']::-ms-thumb {
    width: 73.6px;
}

.user_controller .controller_box .cut_box .control_box input.point30[type='range']::-ms-thumb {
    width: 110.4px;
}

.user_controller .controller_box .cut_box .control_box input.point40[type='range']::-ms-thumb {
    width: 147.2px;
}

.user_controller .controller_box .cut_box .control_box input.point50[type='range']::-ms-thumb {
    width: 184px;
}

.user_controller .controller_box .cut_box .control_box input.point60[type='range']::-ms-thumb {
    width: 220.8px;
}

.user_controller .controller_box .cut_box .control_box input.point70[type='range']::-ms-thumb {
    width: 257.6px;
}

.user_controller .controller_box .cut_box .control_box input.point80[type='range']::-ms-thumb {
    width: 294.4px;
}

.user_controller .controller_box .cut_box .control_box input.point90[type='range']::-ms-thumb {
    width: 331.2px;
}

.user_controller .controller_box .cut_box .control_box input.point100[type='range']::-ms-thumb {
    width: 368px;
}

.user_controller .controller_box .cut_box .control_box input[type='range']:focus::-ms-fill-lower {
    background: #707070; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}

.user_controller .controller_box .cut_box .control_box input[type='range']:focus::-ms-fill-upper {
    background: #707070; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}

.user_controller .controller_box .volum_box {
    display: none;
}


/*Firefox의 경우*/
.user_controller .controller_box .volum_box .control_box input[type='range']::-moz-range-track {
    height: 5px;
}

.user_controller .controller_box .volum_box .control_box input[type='range']::-moz-range-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

/*IE의 경우*/
.user_controller .controller_box .volum_box .control_box input[type='range']::-ms-track {
    height: 5px;
}

.user_controller .controller_box .volum_box .control_box input[type='range']::-ms-thumb {
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.user_controller .controller_box .volum_box .control_box input[type='range']:focus::-ms-fill-lower {
    background: #ff9b00; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}

.user_controller .controller_box .volum_box .control_box input[type='range']:focus::-ms-fill-upper {
    background: #707070; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}





@media screen and (max-width: 1100px) {
    #scene_content {
        flex-direction: column;
    }

    #scene_content > .left {
        width: 100%;
    }

    #scene_content > .left .item_list_box li {
        width: 47.5%;
    }

    #scene_content > .left .item_list_box li:nth-child(3n + 1) {
        margin-left: 2%;
    }

    #scene_content > .left .item_list_box li:nth-child(2n + 1) {
        margin-left: 0;
    }

    #scene_content .right {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .user_controller {
        height: auto;
    }

    #scene_content > .free_view {
        display: block;
    }

    #FormData .controller_box .controll_ok {
        justify-content: center;
    }

    #FormData .controller_box .controll_ok .icon_box:first-child {
        margin-bottom: 10px;
    }

    #FormData .controller_box .controll_ok .icon_box.line{
        border:none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
    }

}













