


#app{
    width: 100%;
    height: 100%;
}

#header{
    background-color: #fff;
}

#header .max_box{
    padding: 0 1rem;
    box-sizing: border-box;

}

#header .top{
    padding: 2rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
}

#header .btm{
    border-bottom: 1px solid #c9cdce;
}

#header .btm .max_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

#header .btm h1{
    font-size: 1rem;
    color: #494949;
}

#header .btm .btn_box{
    display: flex;
    align-items: center;
}

#header .btm button{
    padding: 14px 30px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#header .btm button span{
    color: #fff;
}

#header .btm button.prev_btn{
    margin-right: 5px;
    background-color: #a9a9a9;
    display: none;
}

#header .btm button.prev_btn.active{
    display: flex;
}

#header .btm button.next_btn{
    background-color: #ff9b00;
}

#header .btm button img{
    position: relative;
    top: 1px;
}

#header .btm button.prev_btn img{
    margin-right: 10px;
}

#header .btm button.next_btn img{
    margin-left: 10px;
}


@media screen and (min-width: 768px) {

}




#content{
    background-color: #f3f3f3;
    padding: 30px 1rem 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#content .left{
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    border:1px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
}

#content .left .sample_video_box{
    position: relative;
    padding-bottom: 56.25%;
}

#content .left .sample_video_box iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#content .left .sample_text_box{
    padding: 1rem;
    box-sizing: border-box;
}

#content .left .sample_text_box .title{
    font-size: 1.2rem;
    color: #494949;
    margin-bottom: 0.9rem;
}

#content .left .sample_text_box .text_box{
    font-size: 1rem;
}

#content .left .sample_text_box .text_box + div{
    margin-top: 0.5rem;
}

#content .left .sample_text_box .text_box .txt{
    color: #727272;
    display: inline-block;
    width: 60px;

}

#content .left .sample_text_box .text_box .yellow{
    color: #ff9b00;
    display: inline-block;
    margin-left: 1rem;
}

#content .right{
    flex: 1;
    padding-left: 0.75rem;
    width: 100%;
}

#content .right .photo_upload{
    width: 100%;
}

#content .right .photo_upload .tab_box{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

#content .right .photo_upload .tab_box li{

}

#content .right .photo_upload .tab_box li + li{
    margin-left: 5px;
}

#content .right .photo_upload .tab_box li button{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #a9a9a9;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 0.9rem;
}

#content .right .photo_upload .tab_box li button.active{
    background-color: #fff;
    color: #494949;
}

#content .right .photo_upload .upload_list_box{
    background-color: #fff;
    display: none;
}

#content .right .photo_upload .upload_list_box.active{
    display: block;
}

#content .right .photo_upload  .upload_list_box .upload_list_header{
    padding: 1rem;
    box-sizing: border-box;
    color: #494949;
    border-bottom: 1px solid #eeeeee;
}

#content .right .photo_upload  .upload_list_box .upload_list_header span{
    color: #ff9b00;
}

#content .right .photo_upload  .upload_list_box .upload_list_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#content .right .photo_upload .upload_list_box .upload_list_content li{
    width: 20%;
    background-color: #fcfcfc;
    position: relative;
}

#content .right .photo_upload  .upload_list_box .upload_list_content li:before{
    content: '';
    display: block;
    padding-bottom: 100%;
}

#content .right .upload_list_box li.img_container .img_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#content .right .upload_list_box li.img_container .img_box img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#content .right .upload_list_box li.img_container .remove_btn{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: #afb0b1;
    border-radius: 50%;
    cursor: pointer;
}

#content .right .upload_list_box li.img_container .remove_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 17px;
    height: 1px;
    background-color: #fff;
}

#content .right .upload_list_box li.img_container .remove_btn span:first-child{
    transform: translate(-50%, -50%) rotate(45deg);
}

#content .right .upload_list_box li.img_container .remove_btn span:last-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

#content .right .photo_upload .upload_list_box .upload_list_content li.upload_btn{
    cursor: pointer;
}

#content .right .photo_upload .upload_list_box .upload_list_content li.upload_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 1px;
    background-color: #888888;
}
#content .right .photo_upload .upload_list_box .upload_list_content li.upload_btn span.line1{
    transform: translate(-50%, -50%);
}

#content .right .photo_upload .upload_list_box .upload_list_content li.upload_btn span.line2{
    transform: translate(-50%, -50%) rotate(90deg);
}

#content .right .photo_upload .upload_list_box .input_box{
    padding: 1rem;
    box-sizing: border-box;
}

#content .right .photo_upload .upload_list_box .input_box input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e4e9f2;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
}

#content .right .photo_upload .upload_list_box .input_box input + input{
    margin-top: 1rem;
}

#content .right .photo_upload .upload_list_box .input_box textarea{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e4e9f2;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
}

#content .right .photo_upload .upload_list_box .input_box button{
    margin-top: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #ff9b00;
    color: #fff;
    border-radius: 4px;
    padding: 0.75rem 0;
}


@media screen and (max-width: 1100px) {
    #content{
        padding: 1rem;
    }
    #content .left{
        max-width: 100%;
    }

    #content .right{
        padding-left: 0;
        margin-top: 1rem;
    }
}






.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.modal .back{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.modal .modal_content{
    position: relative;
    z-index: 101;
    max-width: 420px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
}



.file_loading_modal .modal_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file_loading_modal .modal_content .txt{
    margin-top: 50px;
    text-align: center;
    color: #6b6b6b;
}

.alert_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.alert_modal .modal_content h4{
    font-weight: bold;
}

.alert_modal .modal_content .txt{
    text-align: center;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.alert_modal .modal_content .txt .color{
    color: #ff9b00;
}
.alert_modal .modal_content .txt .color .count{
    color: #ff9b00;
}

.alert_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.create_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create_modal .modal_content h4{
    font-weight: bold;
}

.create_modal .modal_content .txt{
    text-align: center;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.create_modal .modal_content .txt .color{
    color: #ff9b00;
}

.create_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}


.request_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.request_modal .modal_content h4{
    font-weight: bold;
}

.request_modal .modal_content .txt{
    text-align: left;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.request_modal .modal_content .txt p {
    margin-bottom: 15px;
}

.request_modal .modal_content .txt .color{
    color: #ff9b00;
}

.request_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.music_modal .modal_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music_modal .modal_content .text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.music_modal .modal_content .text_box p{
    padding: 5px 0;
    color: #6b6b6b;
}

.music_modal .modal_content button{
    background-color: #a0a0a0;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.1rem;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #ff9b00;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div, .bouncingLoader:before, .bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}


.move_modal{
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    transform: translateX(-50%);
    display: none;
}

.move_modal > div{
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: #ff9b00;
    color: #fff;
    text-align: center;
}









