.guide_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  display: flex;
  transition: opacity 200ms;
  z-index: -9999;
  opacity: 0;
  overflow: hidden;
}

.guide_content.active {
  opacity: 1;
  z-index: 2000;
  max-height: none;
}

.guide_content .border {
  border: 2px dotted #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.guide_content .guide_close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
}

.guide_content .guide_close span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.guide_content .guide_close span.line1 {
  transform: translateY(-50%) rotate(45deg);
}

.guide_content .guide_close span.line2 {
  transform: translateY(-50%) rotate(-45deg);
}

.guide_content .guide_close2 {
  display: none;
  position: relative;
  width: 100%;
  margin-top: auto;
  padding: 25px 33px;
  color: #fff;
  z-index: 100;
}

.guide_content .guide_back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.guide_content .guide_line {
  color: #fff;
}

.guide_content .guide_line p {
  margin: 5px 0;
}

.guide_content .guide_line p span {
  font-weight: bold;
}

.guide_page1 .guide_line {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 537px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.guide_page2 .guide_line {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  box-sizing: border-box;
}

.guide_page2 .guide_line .content {
  width: 48%;
  max-width: 475px;
}

.guide_page2 .guide_line .left .top {
  width: 100%;
  position: relative;
}

.guide_page2 .guide_line .left .top:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.guide_page2 .guide_line .left .top .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.guide_page2 .guide_line .left .btm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.guide_page2 .guide_line .right {
  box-sizing: border-box;
}

.guide_page2 .guide_line .right .top {
  width: 100%;
  position: relative;
}

.guide_page2 .guide_line .right .top:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 63.25%;
}

.guide_page2 .guide_line .right .top .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.guide_page2 .guide_line .right .mid {
  margin-top: 10px;
  padding: 35px 0;
  text-align: center;
}

.guide_page2 .guide_line .right .btm {
  margin-top: 15px;
  padding: 15px 0;
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guide_page2 .guide_line .right .btn {
  margin-top: 25px;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .guide_page2 .guide_line .right .top:before {
    padding-bottom: 56.25%;
  }

  .guide_page2 .guide_line .right .btm {
    height:161px;
  }

  .guide_content .guide_close {
    display: none;
  }

  .guide_page1 .guide_line {
    box-sizing: border-box;
    width: calc(100% - 32px);
    height: 300px;
  }

  .guide_content .guide_close2 {
    display: block;
  }

  .guide_page2 {
    flex-direction: column;
  }

  .guide_page2 .guide_line {
    padding-top: 47px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .guide_page2 .guide_line .content {
    width: 100%;
    max-width: none;
  }

  .guide_page2 .guide_line .left .top:before {
    padding-bottom: 60%;
  }

  .guide_page2 .guide_line .left .btm {
    margin-top: 35px;
  }

  .guide_page2 .guide_line .right {
    display: none;
  }

  .guide_page2.dark .guide_line .left {
    display: none;
  }

  .guide_page2.dark .guide_line .right {
    display: block;
  }

  .guide_page2.dark .guide_line .right .mid {
    margin-top: 30px;
  }

  .guide_page2.dark .guide_line .right .btn {
    display: none;
  }
}
