{{ redirect to="http://aileenstory.com" }}
<!--
<section class="regular">

    <h1 class="special centered">
        <small>The Statamic</small>
        Redwood Theme1
    </h1>

    <div class="centered">{{ content }}</div>

	<article class="list">
		{{ collection:blog :limit="posts" scope="tag" }}
			{{ partial:block }}
		{{ /collection:blog }}
	</article>

    <div class="read-more">
        <a href="{{ link to='blog' }}">Read the rest of the blog</a>
    </div>

</section>
-->
