


@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
.jejumyeongjo * { font-family: 'Jeju Myeongjo', serif; }



@font-face { font-family: 'EBSHunminjeongeumSBA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    background-color: #8f8f8f;
    font-family: 'Noto Sans KR', sans-serif;
}

.warning_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.warning_container .warning_box {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.warning_container .warning_box .top {
    background: #f25659;
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.warning_container .warning_box .btm {
    background: #FFF;
    border-radius: 0 0 10px 10px;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.warning_container .warning_box .btm p {
    color: #3c455f;
    font-size: 30px;
    margin-bottom: 10px;
}

.warning_container .warning_box .btm span {
    color: #3c455f;
    font-size: 18px;
    font-weight: bold;
}

.warning_container .warning_box .btm > div {
    margin-top: 10px;
}

.warning_container .warning_box .btm > div a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background: #f25659;
    color: #FFF;
}

#app {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    overflow: hidden;
    /*display: none;*/
}

#bg_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#bg_box img{
    display: block;
    width: 100%;
    height: auto;
}

#cover {
    position: relative;
}

#cover .img_box{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}

#cover .title_box{
    text-align: center;
    margin-top: 100px;
}

#cover .text_box {
    margin: 100px auto 50px;
    font-family: 'EBSHunminjeongeumSBA';
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    color: #828282;
    font-size: 1.35rem;
    line-height: 1.25;
}

#cover .bar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#cover .bar span{
    flex: 1;
    height: 5px;
}

#cover .bar span.line1{
    background-color: #69321b;
}
#cover .bar span.line2{
    background-color: #59b5b2;
}
#cover .bar span.line3{
    background-color: #f04a44;
}
#cover .bar span.line4{
    background-color: #ffc15a;
}
#cover .bar span.line5{
    background-color: #d6deed;
}
#cover .bar span.line6{
    background-color: #f97475;
}
#cover .bar span.line7{
    background-color: #ffc2c0;
}
#cover .bar span.line8{
    background-color: #69321b;
}
#cover .bar span.line9{
    background-color: #59b5b2;
}
#cover .bar span.line10{
    background-color: #f04a44;
}




@media screen and (max-width: 480px) {
    #cover .text_box {
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }
}


.title_box .title {
    display: block;
    width: 100%;
    height: auto;
}

.line_box .line {
    display: block;
    width: 100%;
    height: auto;
}

#invitation {
    width: 100%;
    padding-bottom: 2rem;
    position: relative;
}


#invitation .invitation_txt_box {
    padding: 2rem 0;
    box-sizing: border-box;

}

#invitation .invitation_txt_box p {
    font-family: 'EBSHunminjeongeumSBA';
    text-align: center;
    white-space: pre-line;
    line-height: 2.2;
    color: #494949;
    font-weight: 300;
}



#location {
    position: relative;
}
#location * {
    font-family: 'Noto Sans KR', sans-serif;
}

#location .location_box {
    padding: 2rem 1rem;
    box-sizing: border-box;
}


#location .map_container {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

#location .map_container:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

#location .map_box {
    width: 100%;
    height: 100%;
    position: absolute !important;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

#location .map_box.daum_map {
    /*display: none;*/
}

#location .map_box.naver_map {
    display: none;
}


#location .location_text_box {
    padding-top: 20px;
    position: relative;
}

#location .location_icon_box {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

#location .location_icon_box .icon {

}

#location .location_icon_box .icon.icon_tmap {
    margin-right: 1rem;
}

#location .location_icon_box .icon.icon_kakao {

}

#location .location_icon_box .icon.icon_call {
    margin-left: auto;
}

#location .wrap_address {
    padding: 1rem;
    box-sizing: border-box;
}

#location .wrap_address > div {
    line-height: 1.5;
}

#location .wrap_address .address_detail {
    font-weight: bold;
}

#location .wrap_address .address_main,
#location .wrap_address .address_tell {
    color: #7c7c7c;
}

#location .textarea_box {
    padding: 1rem;
    box-sizing: border-box;
    color: #7c7c7c;
}

#location .textarea_box p{
    white-space: pre-line;
    word-break: break-all;
}

#chat {
    background-color: #fff;
}

#chat * {
    font-family: 'Noto Sans KR', sans-serif;
}

#chat .chat_modal_open_btn {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    /*border-bottom: 2px solid #727272;*/
}

#chat .chat_modal_open_btn button {
    display: block;
    border-radius: 2px;
    background-color: #727272;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

#chat .chat_modal_open_btn button span {
    display: block;
    text-align: center;
    border: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    box-sizing: border-box;
    font-weight: bold;
}


#chat .chat_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-sizing: border-box;
    display: none;
}


#chat .chat_delete_modal {
    /*display: block;*/
}

#chat .chat_modal .modal_content {
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fff;
}

#chat .chat_modal .modal_content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#chat .chat_modal .modal_content header .close_btn {
    width: 30px;
    height: 30px;
    position: relative;
}

#chat .chat_modal .modal_content header .close_btn span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
}

#chat .chat_modal .modal_content header .close_btn span.line1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

#chat .chat_modal .modal_content header .close_btn span.line2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}


#chat .chat_modal .modal_content input {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 1rem;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.9rem;
}

#chat .chat_modal .modal_content input::placeholder {
    color: #ccc;
}

#chat .chat_modal .modal_content .content {

}

#chat .chat_modal .modal_content .content .name_pass_box {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#chat .chat_modal .modal_content .content .name_pass_box input {
    width: 49%;
}

#chat .chat_modal .modal_content .content .text_box {
    margin-bottom: 1rem;
}

#chat .chat_modal .modal_content .content .text_box input {
    width: 100%;
}

#chat .chat_modal .modal_content .content .btn_box {
    box-sizing: border-box;
}

#chat .chat_modal .modal_content .content .btn_box button {
    display: block;
    border-radius: 2px;
    background-color: #727272;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

#chat .chat_modal .modal_content .content .btn_box button + button {
    margin-top: 0.5rem;
}

#chat .chat_modal .modal_content .content .btn_box button span {
    display: block;
    text-align: center;
    border: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0;
    box-sizing: border-box;
    font-weight: bold;
}


#chat #example_wrapper {
    border-top: 2px solid #727272;
}

#chat .chat_item_box {
    padding: 1rem;
    box-sizing: border-box;
}

#chat .chat_item_box .guest_tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

#chat .chat_item_box .guest_tag .name {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1rem;
}

#chat .chat_item_box .guest_tag .date {
    margin-right: auto;
    color: #bcbcbc;
    font-size: 0.9rem;
}

#chat .chat_item_box .guest_tag button {
    color: #c7c7c7;
    font-size: 0.9rem;
}

#chat .chat_item_box .guest_tag .modify_btn {
    margin-right: 0.5rem;
}

#chat .chat_item_box .guest_tag .guest_text {
    width: 100%;
    margin-top: 1.5rem;
    color: #959595;
    font-size: 0.9rem;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.sorting_desc {
    display: none;
}

#chat .dataTables_paginate {
    margin-top: 1rem;
}

#chat .dataTables_paginate > a {
    display: none;
}

#chat .dataTables_paginate > span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#chat .dataTables_paginate > span a {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: #929292;
    color: #fff;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#chat .dataTables_empty {
    display: none;
}


#footer {
    box-sizing: border-box;
    position: relative;
}

#footer .sns_box {
    box-sizing: border-box;
    border-top: 1px solid #bebebe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

#footer .sns_box .icon_box {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#footer .sns_box .icon_box a {
    margin-left: 10px;
}

#footer .sns_box .icon_box img {
    display: block;
    max-width: 100%;
    height: auto;
}

#footer .footer_img {
    padding: 1rem 0 2rem;
    box-sizing: border-box;
}

#footer .footer_img img {
    display: block;
    width: 100%;
    height: auto;
}


