
{{yaml_data}}

<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="kr"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta name="twitter:title "property="og:title" content="{{card:card_main_title}}"/>
  <meta name="twitter:description" property="og:description" content="{{card:invitation_data}}">
  <meta name="twitter:url" property="og:url" content="https://card.studioium.com/{{card:card_title}}"/>
  <meta name="twitter:image" property="og:image" content="{{ card.main_img:main_url }}"/>
  <title>저희, 결혼합니다!!</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
  <!-- 부가적인 테마 -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="{{ theme:css src='reset' }}">
  <link rel="stylesheet" href="{{ theme:templates/1/marryskin01/css src='card.css' }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{ theme:css }}"> -->
</head>

<body class="section-{{ segment_1 or "home" }}">


<div class="warning_container">
	<div class="warning_box">
		<div class="top">
			<img src="{{ theme:image src='ico_warning.png' }}" alt="">
		</div>
		<div class="btm">
			<p>Warning!</p>
			<span>기간이 만료된 초대장 입니다.</span>
			<div>
				<a href="https://www.studioium.com/">스튜디오 이움으로 이동</a>
			</div>
		</div>
	</div>
</div>


<article class="crad_theme_container">
	<input type="hidden" id="date_input" value="{{card.date:datepicker}}">
	<input type="hidden" id="time_input" value="{{card.date:timepicker}}">
	<input type="hidden" id="chat_select" value="{{card.card_option:thank}}">
	<input type="hidden" id="kakao_select" value="{{card.card_option:kakao}}">
	<input type="hidden" id="mail_select" value="{{card.card_option:mail}}">
	<input type="hidden" name="card[card_title]" value="{{card:card_title}}" id="card_title">
	<input type="hidden" id="name_box2_check" value="{{card:name_box2}}">
	<input type="hidden" id="name1" value="{{card.relation:0}}">
	<input type="hidden" id="name2" value="{{card.relation:1}}">
	<input type="hidden" id="name3" value="{{card.relation:3}}">
	<input type="hidden" id="name4" value="{{card.relation:4}}">
	<section class="cover" id="cover">
		<div class="bg_top_img_box">
			<img src="{{ theme:templates/1/marryskin01/image src='main_top_icon.png' }}" alt="커버 탑 아이콘" class="bg_top_icon">
			<!-- <h1 class="title">{{card:card_main_title}}</h1> -->
		</div>
		<div class="cover_img_box">
			<img src="{{ card.main_img:main_url }}?{{ now format='YmdHis' }}" alt="커버 이미지" class="cover_img">
		</div>
		<div class="bg_btm_img_box">
			<div class="cover_date_box">
				<p class="name_box">
					<span class="name">{{card.basic:0}}</span>
					<span class="and">그리고</span>
					<span class="name">{{card.basic:2}}</span>
				</p>
				<span class="cover_date"></span>
				<span class="cover_address">{{card.location:road_detail}}</span>
			</div>
		</div>
	</section>

	<section class="invitation" id="invitation">
		<img src="{{ theme:templates/1/marryskin01/image src='grettings_icon.png' }}" alt="invitation_icon" class="invitation_icon">
		<div class="invitation_txt_box">
			<p>{{card:invitation_data}}</p>
		</div>
		<div class="invitation_name_box clearfix">
			<div class="name_box1 name_box">
				<span class="name">{{card.relation:0}}</span>
				<span class="and">·</span>
				<span class="name">{{card.relation:1}}</span>의 <span>{{card.relation:2}}</span> <span class="name">{{card.basic:0}}</span>
			</div>
			<div class="and_box">
				<img src="{{ theme:templates/1/marryskin01/image src='grettings_icon2.png' }}" alt="and">
			</div>
			<div class="name_box2 name_box">
				<span class="name">{{card.relation:3}}</span>

					<span class="and">·</span>

				<span class="name">{{card.relation:4}}</span>의 <span>{{card.relation:5}}</span> <span class="name">{{card.basic:2}}</span>
			</div>
			
		</div>
	</section>

	<section class="hosting_tell" id="hosting_tell">
		<div class="content_box">
			<div class="name_box">
				<span>GROOM</span>
				<p>신랑에게 연락하기</p>
			</div>
			<div class="tell_box">
				<span class="icon tell">
					<a href="tel:{{card.basic:1}}">
						<img src="{{ theme:templates/1/marryskin01/image src='img01.png' }}" alt="tell_icon" class="tell">
					</a>
				</span>
				<span class="icon mail">
					<a href="" class="mail_link1">
						<img src="{{ theme:templates/1/marryskin01/image src='img02.png' }}" alt="tell_icon" class="mail">
					</a>
				</span>
			</div>
		</div>
		<div class="bar"></div>
		<div class="content_box">
			<div class="name_box">
				<span>BRIDE</span>
				<p>신부에게 연락하기</p>
			</div>
			<div class="tell_box">
				<span class="icon tell">
					<a href="tel:{{card.basic:3}}">
						<img src="{{ theme:templates/1/marryskin01/image src='img03.png' }}" alt="tell_icon" class="tell">
					</a>
				</span>
				<span class="icon mail">
					<a href="" class="mail_link2">
						<img src="{{ theme:templates/1/marryskin01/image src='img04.png' }}" alt="tell_icon" class="mail">
					</a>
				</span>
			</div>
		</div>
	</section>

	<section class="gallery" id="gallery">
		<img src="{{ theme:templates/1/marryskin01/image src='gallery_icon.png' }}" alt="invitation_icon" class="invitation_icon">
		<div class="gallery_content">
			
			<!-- Add Arrows -->
	    <div class="gallery_slider_left slider_btn"><img src="{{ theme:templates/1/marryskin01/image src='gallery_left.png' }}" ></div>
	    <div class="gallery_slider_right slider_btn"><img src="{{ theme:templates/1/marryskin01/image src='gallery_right.png' }}" ></div>
	    <!-- Swiper -->
		  <div class="swiper-container gallery-top">
		    <div class="swiper-wrapper" id="swiper-wrapper">
		    	{{ foreach:card.photo }}
		    	<div class="swiper-slide"><img src="{{ value }}" alt="" class="gallery_main_img"></div>
		    	{{ /foreach:card.photo }}
		    	
		    </div>
		    
		  </div>
		  <div class="swiper-container gallery-thumbs">
		    <div class="swiper-wrapper">
		    	{{ foreach:card.photo }}
		      <div class="swiper-slide" style="background-image:url( {{value}} )"></div>
		      {{ /foreach:card.photo }}
		    </div>
		  </div>
		</div>
	</section>
	

	<section class="location {{card.location:map_type}}" id="location">
		<img src="{{ theme:templates/1/marryskin01/image src='loca_date_icon.png' }}" alt="invitation_icon" class="invitation_icon">
		<div class="map_container">
			<input type="hidden" class="field" id="lat" value="{{card.location:lat}}" />
			<input type="hidden" class="field" id="lng" value="{{card.location:lng}}" />
			<input type="hidden" id="road" value="{{card.location:road}}" />
			<div class="daum_map map_box" id="daum_map_box">
				
			</div>
			<div class="google_map map_box" id="google_map_box">
				
			</div>
		</div>
		<div class="location_text_box">
			<div class="location_icon_box clearfix">
				<div class="icon_naver icon">
					<a href="https://map.kakao.com/link/to/{{card.location:road}},{{card.location:lat}},{{card.location:lng}}" target="_blank">
						<img src="{{ theme:templates/1/marryskin01/image src='img05_daum.png' }}" alt="카카오 지도" class="title_img">
						<span>길찾기</span>
					</a>
				</div>
				<div class="icon_google icon">
					<a href="https://www.google.co.kr/maps/dir//{{card.location:road}}" target="_blank">
						<img src="{{ theme:templates/1/marryskin01/image src='img06.png' }}" alt="구글 지도" class="title_img">
						<span>구글맵</span>
					</a>
				</div>
				<div class="icon_tel icon">
					<a href="tel:{{card.location:road_tel}}">
						<img src="{{ theme:templates/1/marryskin01/image src='img07.png' }}" alt="전화" class="title_img">
						<span>전화하기</span>
					</a>
				</div>
			</div>
			<div class="road_box">{{card.location:road_detail}}</div>
			<div class="road_detail_box">{{card.location:road}}</div>

			<div class="road_subway road_option clearfix">
				<div><span>지</span> <span>하</span> <span>철</span></div>
				<p>{{card.location_option:subway_text}}</p>
			</div>

			<div class="road_bus road_option clearfix">
				<div><span>버</span> <span>스</span></div>
				<p>{{card.location_option:bus_text}}</p>
			</div>

			<div class="road_foot road_option clearfix">
				<div><span>도</span> <span>보</span></div>
				<p>{{card.location_option:foot_text}}</p>
			</div>

			<div class="road_parking road_option clearfix">
				<div><span>주</span> <span>차</span><span>안</span><span>내</span></div>
				<p>{{card.location_option:parking_text}}</p>
			</div>

		</div>
	</section>


	<section class="first_birthday">
		<img src="{{ theme:templates/1/marryskin01/image src='img08.png' }}" alt="first_birthday" class="title_img">
		<div class="first_text_box">
			<span class="first_date"></span>
		</div>
	</section>

	<section class="chat" id="chat">
		<img src="{{ theme:templates/1/marryskin01/image src='board_icon.png' }}" alt="invitation_icon" class="invitation_icon">
		<div class="chat_content">
			<div class="chat_form_box">
				<form method="post" name="chat_data" id="chat_data" onsubmit="return false;">
					<input type="text" placeholder="성함" id="chat_form_name" name="card[content][name]">
					<input type="password" placeholder="비밀번호" id="chat_form_password" autocomplete="new-password" name="card[content][password]">
					<input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_form_text" name="card[content][comment]">
					<input type="hidden" id="chat_time" value="" name="card[content][time]">
					<input type="hidden" value="chat" name="type" id="type">
					<input type="hidden" id="orderGoodsNo" name="orderGoodsNo" value="{{orderGoodsNo}}">
					<input type="hidden" id="orderNo" name="orderNo" value="{{orderNo}}">
					<input type="hidden" name="card[card_title]" value="{{card:card_title}}">
					<button class="chat_form_save" type="button" onclick="goData()">메세지 등록</button>
				</form>
			</div>
			<div class="chat_item_box">
				<table id="example" class="display" style="width:100%">
				  <thead>
				      <tr>
			          <th>Date</th>
				      </tr>
				  </thead>
				  <tbody>
			      
				  </tbody>
				</table>
				<div class="modal_box">
					<div class="chat_select_modal clearfix">
						<div class="chat_delete_select">
							<p>삭제하기</p>
						</div>
						<div class="chat_modifiy_select">
							<p>수정하기</p>
						</div>
					</div>
					<div class="chat_delete_modal_box">
						<input type="password" id="delete_chat_password" placeholder="비밀번호" >
						<input type="hidden" id="delete_chat_num" >
						<button id="chat_delete_btn">삭제하기</button>
						<button id="chat_delete_close">취소</button>
					</div>
					<div class="chat_modifiy_modal_box">
						<input type="text" placeholder="성함" id="chat_modifiy_name" >
						<input type="password" placeholder="비밀번호" id="chat_modifiy_password" autocomplete="new-password" >
						<input type="text" placeholder="짧은 메세지를 입력해주세요." id="chat_modifiy_text" >
						<input type="hidden" id="modifiy_chat_num" >
						<button id="chat_modifiy_btn">수정하기</button>
						<button id="chat_modifiy_close">취소</button>
					</div>
					<div class="modal_bg">
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="footer" id="footer">
		<div class="sns_box">
			<img src="{{ theme:templates/1/marryskin01/image src='tit05.png' }}" alt="" class="tit05">
			<div onclick="sendLink(); return false;" class="sns_btn sns_kakao">
				<img src="{{ theme:templates/1/marryskin01/image src='img09.png' }}" alt="" class="">
				<span>카카오톡 공유</span>
			</div>
			<a href="" class="sns_btn sns_mail">
				<img src="{{ theme:templates/1/marryskin01/image src='img10.png' }}" alt="" class="">
				<span>문자 보내기</span>
			</a>
		</div>
		<div class="footer_text_box">
			<!-- <p>행복한 자리에 소중한 분들을 초대합니다.</p>
			<span>studioium.com</span> -->
			<img src="{{ theme:templates/1/marryskin01/image src='footer_text.png' }}" alt="" class="footer_text">
		</div>
	</section>



</article>






<script>

var name1 = document.querySelector('#name1').value;
var name2 = document.querySelector('#name2').value;
var name3 = document.querySelector('#name3').value;
var name4 = document.querySelector('#name4').value;
var nameBox1And = document.querySelector('.name_box1 .and')
var nameBox2And = document.querySelector('.name_box2 .and')


if (name1 === '' || name2 === '') {
	nameBox1And.style.display = 'none'
}

if (name3 === '' || name4 === '') {
	nameBox2And.style.display = 'none'
}

var name_box2_check = document.querySelector('#name_box2_check').value;
var invitation_name_box  = document.querySelector('.invitation_name_box');

if (name_box2_check === 'on') {
	invitation_name_box.style.display = 'block'
} else {
	invitation_name_box.style.display = 'none'
}

function rawurlencode(str) {

 str = (str + '').toString();

 return encodeURIComponent(str)

 .replace(/!/g, '%21')

 .replace(/'/g, '%27')

 .replace(/\(/g, '%28')

 .replace(/\)/g, '%29')

 .replace(/\*/g, '%2A');

}


var UserAgent = navigator.platform; //하드웨어 플랫폼
var sns_mail = document.querySelector('.sns_mail');
var mail_link1 = document.querySelector('.mail_link1');
var mail_link2 = document.querySelector('.mail_link2');

if (UserAgent.match(/i(Phone|Pod)/i) != null ){
	sns_mail.setAttribute('href' ,'sms:&body={{card:card_main_title}} https://card.studioium.com/{{card:card_title}}' )
	mail_link1.setAttribute('href' ,'sms:{{card.basic:1}}&body=' )
	mail_link2.setAttribute('href' ,'sms:{{card.basic:3}}&body=' )
} else{
  sns_mail.setAttribute('href' ,'sms:?body={{card:card_main_title}} https://card.studioium.com/{{card:card_title}}' )
  mail_link1.setAttribute('href' ,'sms:{{card.basic:1}}?body=' )
  mail_link2.setAttribute('href' ,'sms:{{card.basic:3}}?body=' )
}


</script>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
var cover_img = document.querySelector('.cover_img');
Kakao.init('6af4eefd4ff7d5ac127577be46fd175e');
var title_txt = "저희, 결혼합니다.";
var description = `{{ card:invitation_data }}`
description = description.replace(/\n/g, " ");//행바꿈제거

function sendLink() {
  Kakao.Link.sendDefault({
    objectType: 'feed',
    content: {
      title: title_txt,
      description: description,
      imageUrl: '{{ card.main_img:main_url }}?'+Math.floor(new Date().getTime() / 1000),
			imageWidth:cover_img.naturalWidth,
			imageHeight:cover_img.naturalHeight,
      link: {
        mobileWebUrl: 'https://card.studioium.com/{{card:card_title}}',
        webUrl: 'https://card.studioium.com/{{card:card_title}}'
      }
    },
    
  });
}

</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script src="{{ theme:js src='Pagination.js' }}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6af4eefd4ff7d5ac127577be46fd175e&libraries=services,clusterer,drawing"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZR4fpgPdX7kuKhE5sFCfOvxerZemdtMI&libraries=places&callback=initMap" async defer></script>
<script src="{{ theme:js src='card.js' }}"></script>
<script src="{{ theme:js }}"></script>





</body>
</html>

{{/yaml_data}}
